Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter

chore(deps): update dependency rollup to v2.38.2
  package-lock.json
  package.json
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
Due: none

chore(deps): update dependency typedoc to v0.20.20
  package-lock.json
  package.json
Due: none

chore(deps): update dependency rollup to v2.38.3
  package-lock.json
  package.json
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
Due: none

chore(deps): update dependency karma to v6.0.4
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(deps): update dependency rollup to v2.38.4
  package-lock.json
  package.json
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
Due: none

chore(deps): update angularcli monorepo
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(deps): update dependency @donmahallem/gulp-sharp to v0.5.8
  packages/assets/package-lock.json
  packages/assets/package.json
Due: none

fix(client-ng): use new DOM Geolocation types
  packages/client-ng/src/app/services/user-location.service.ts
Due: ClientNg

fix(client-ng): use new DOM Geolocation types (#1464)
  packages/client-ng/src/app/services/user-location.service.ts
Due: ClientNg

chore(deps): update dependency ng-packagr to v11.1.3
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(deps): update dependency karma to v6.1.0
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

fix(deps): add @manniwatch/pb-types and @manniwatch/pb-converter
  packages/vehicle-cache/package.json
Due: none

fix(deps): add @manniwatch/api-client
  packages/vehicle-cache/package.json
Due: none

feat(vehicle-cache): add convertPollResult
  packages/vehicle-cache/src/operators/convert-poll-result.spec.ts
  packages/vehicle-cache/src/operators/convert-poll-result.ts
Due: VehicleCache

test(vehicle-cache): add tests to queryVehicles
  packages/vehicle-cache/src/operators/query-vehicles.spec.ts
  packages/vehicle-cache/src/operators/query-vehicles.ts
Due: VehicleCache

chore(deps): add proxyquire dependency
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
Due: none

style(vehicle-cache): fix remaining lint issues
  packages/vehicle-cache/src/observable/intervall-poll-vehicles.ts
  packages/vehicle-cache/src/operators/convert-poll-result.spec.ts
  packages/vehicle-cache/src/operators/convert-poll-result.ts
  packages/vehicle-cache/src/operators/convert-vehicles.ts
  packages/vehicle-cache/src/operators/index.ts
  packages/vehicle-cache/src/operators/query-vehicles.spec.ts
  packages/vehicle-cache/src/operators/query-vehicles.ts
  packages/vehicle-cache/src/operators/reset-value.ts
  packages/vehicle-cache/src/vehicle-cache.ts
Due: VehicleCache

chore: save a lot of progress
  packages/vehicle-cache/src/index.ts
  packages/vehicle-cache/src/observable/index.ts
  packages/vehicle-cache/src/observable/query-vehicles.ts
  packages/vehicle-cache/src/operators/convert-vehicles.ts
  packages/vehicle-cache/src/operators/index.ts
  packages/vehicle-cache/src/operators/query-vehicles.spec.ts
  packages/vehicle-cache/src/operators/query-vehicles.ts
  packages/vehicle-cache/src/operators/reset-value.ts
  packages/vehicle-cache/src/types/index.ts
  packages/vehicle-cache/src/types/query-settings.ts
  packages/vehicle-cache/src/vehicle-cache.ts
Due: VehicleCache

fix(vehicle-cache): add default exports
  packages/vehicle-cache/src/observable/index.ts
  packages/vehicle-cache/src/observable/intervall-poll-vehicles.ts
Due: VehicleCache

style(vehicle-cache): fix styling in types
  packages/vehicle-cache/src/types/index.ts
  packages/vehicle-cache/src/types/query-settings.ts
Due: VehicleCache

feat(vehicle-cache): add intervallPollVehicle observable
  packages/vehicle-cache/src/observable/intervall-poll-vehicles.spec.ts
  packages/vehicle-cache/src/observable/intervall-poll-vehicles.ts
  packages/vehicle-cache/src/observable/query-vehicles.ts
Due: VehicleCache

style(vehicle-cache): fix styling in observables
  packages/vehicle-cache/src/index.ts
  packages/vehicle-cache/src/observable/index.ts
  packages/vehicle-cache/src/observable/intervall-poll-vehicles.spec.ts
  packages/vehicle-cache/src/observable/intervall-poll-vehicles.ts
  packages/vehicle-cache/src/observable/query-vehicles.ts
Due: VehicleCache

docs(vehicle-cache): add docs to queryVehicles
  packages/vehicle-cache/src/observable/query-vehicles.ts
Due: VehicleCache

test(vehicle-cache): add queryVehicles tests
  packages/vehicle-cache/src/observable/query-vehicles.spec.ts
Due: VehicleCache

chore: remove convertVehicles
  packages/vehicle-cache/src/operators/convert-vehicles.ts
  packages/vehicle-cache/src/operators/index.ts
Due: VehicleCache

chore(deps): remove unused dependency
  packages/vehicle-cache/package.json
Due: none

feat(vehicle-cache): add CacheEntry type
  packages/vehicle-cache/src/types/cache-entry.ts
  packages/vehicle-cache/src/types/index.ts
Due: VehicleCache

feat(vehicle-cache): add convertToCacheEntry
  packages/vehicle-cache/src/operators/convert-to-cache-entry.ts
  packages/vehicle-cache/src/operators/index.ts
Due: VehicleCache

test(vehicle-cache): add convertToCacheEntry spec file
  packages/vehicle-cache/src/operators/convert-to-cache-entry.spec.ts
Due: VehicleCache

feat(vehicle-cache): add vehicleCacheOperator operator
  packages/vehicle-cache/src/operators/index.ts
  packages/vehicle-cache/src/operators/vehicle-cache-operator.ts
Due: VehicleCache

test(vehicle-cache): add vehicleCacheOperator tests
  packages/vehicle-cache/src/operators/vehicle-cache-operator.spec.ts
Due: VehicleCache

fix(vehicle-cache): fix VehicleCache
  packages/vehicle-cache/src/vehicle-cache.spec.ts
  packages/vehicle-cache/src/vehicle-cache.ts
Due: VehicleCache

feat(vehicle-cache): add overall better vehicle caching helpers (#1458)
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
  packages/vehicle-cache/src/index.ts
  packages/vehicle-cache/src/observable/index.ts
  packages/vehicle-cache/src/observable/intervall-poll-vehicles.spec.ts
  packages/vehicle-cache/src/observable/intervall-poll-vehicles.ts
  packages/vehicle-cache/src/observable/query-vehicles.spec.ts
  packages/vehicle-cache/src/observable/query-vehicles.ts
  packages/vehicle-cache/src/operators/convert-poll-result.spec.ts
  packages/vehicle-cache/src/operators/convert-poll-result.ts
  packages/vehicle-cache/src/operators/convert-to-cache-entry.spec.ts
  packages/vehicle-cache/src/operators/convert-to-cache-entry.ts
  packages/vehicle-cache/src/operators/index.ts
  packages/vehicle-cache/src/operators/query-vehicles.spec.ts
  packages/vehicle-cache/src/operators/query-vehicles.ts
  packages/vehicle-cache/src/operators/vehicle-cache-operator.spec.ts
  packages/vehicle-cache/src/operators/vehicle-cache-operator.ts
  packages/vehicle-cache/src/types/cache-entry.ts
  packages/vehicle-cache/src/types/index.ts
  packages/vehicle-cache/src/types/query-settings.ts
  packages/vehicle-cache/src/vehicle-cache.spec.ts
  packages/vehicle-cache/src/vehicle-cache.ts
Due: VehicleCache

Path conditions:
  ApiClient: any of: packages/api-client/src
  ClientNg: any of: packages/client-ng/src
  ClientDesktop: any of: packages/client-desktop/src
  ApiProxyRouter: any of: packages/api-proxy-router/src
  ApiProxyServer: any of: packages/api-proxy-server/src
  ApiTypes: any of: packages/api-types/src
  ExpressUtils: any of: packages/express-utils/src
  VehicleCache: any of: packages/vehicle-cache/src
  VehicleLocationDiff: any of: packages/vehicle-location-diff/src
  PbConverter: any of: packages/pb-converter/src
