Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter, api-types

chore(deps): update dependency @types/node to v14.17.12
  package-lock.json
  package.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

fix(deps): update angularmaterial monorepo to v12.2.3
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(deps): update angularcli monorepo to v12.2.3
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(deps): update dependency typedoc to v0.21.7
  package-lock.json
  package.json
Due: none

fix(deps): update dependency electron to ~13.2.3
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
Due: none

chore(deps): update dependency mocha to v9.1.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typedoc to v0.21.8
  package-lock.json
  package.json
Due: none

docs(api-proxy-router): add more apidocs comments
  packages/api-proxy-router/package.json
  packages/api-proxy-router/src/endpoints/geo/router.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.ts
Due: ApiProxyRouter

docs(api-proxy-router): generate apidocs
  packages/api-proxy-router/package.json
  packages/api-proxy-router/src/api-routes.ts
  packages/api-proxy-router/src/endpoints/geo/router.ts
  packages/api-proxy-router/src/endpoints/settings.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.ts
  packages/api-proxy-router/src/endpoints/vehicle.ts
Due: ApiProxyRouter

chore(api-proxy-router): rework readme generation
  packages/api-proxy-router/package.json
  packages/api-proxy-router/readme_blueprint.md
Due: none

style(api-proxy-router): fix trailing whitespaces
  packages/api-proxy-router/src/endpoints/geo/router.ts
  packages/api-proxy-router/src/endpoints/settings.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.ts
  packages/api-proxy-router/src/endpoints/vehicle.ts
Due: ApiProxyRouter

docs(api-proxy-router): generate apidocs (#2249)
  packages/api-proxy-router/package.json
  packages/api-proxy-router/readme_blueprint.md
  packages/api-proxy-router/src/api-routes.ts
  packages/api-proxy-router/src/endpoints/geo/router.ts
  packages/api-proxy-router/src/endpoints/settings.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.ts
  packages/api-proxy-router/src/endpoints/vehicle.ts
Due: ApiProxyRouter

chore(deps): update dependency @donmahallem/eslint-config to v0.2.9
  package-lock.json
  package.json
  packages/api-proxy-router/package-lock.json
  packages/client-desktop/package-lock.json
Due: none

chore(deps): update dependency @donmahallem/gulp-sharp to v2.0.4
  packages/assets/package-lock.json
  packages/assets/package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v0.4.2
  package-lock.json
  package.json
Due: none

fix(deps): update @donmahallem/turbo packages
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
Due: none

Revert "fix(deps): update @donmahallem/turbo packages"
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
Due: none

Revert "fix(deps): update @donmahallem/turbo packages" (#2254)
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
Due: none

fix(deps): update @donmahallem/turbo packages
  packages/api-client/package-lock.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/package-lock.json
  packages/assets/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/client-types/package-lock.json
  packages/pb-types/package-lock.json
  packages/schemas/package-lock.json
  packages/vehicle-cache/package-lock.json
Due: none

chore(deps): update dependency typedoc to v0.21.9
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/assets/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/client-types/package-lock.json
  packages/pb-types/package-lock.json
  packages/vehicle-cache/package-lock.json
Due: none

ci(github): rework npm publish scripts
  .github/workflows/publish_release.yml
  .github/workflows/release_nightly.yml
Due: none

ci(github): update release script
  .github/workflows/publish_release.yml
Due: none

chore(release): publish v0.27.6
  CHANGELOG.md
  README.md
  lerna.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/CHANGELOG.md
  packages/api-proxy-router/README.md
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/assets/CHANGELOG.md
  packages/assets/package-lock.json
  packages/assets/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/client-types/CHANGELOG.md
  packages/client-types/package-lock.json
  packages/client-types/package.json
  packages/pb-converter/CHANGELOG.md
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
  packages/pb-types/CHANGELOG.md
  packages/pb-types/package-lock.json
  packages/pb-types/package.json
  packages/schemas/CHANGELOG.md
  packages/schemas/package-lock.json
  packages/schemas/package.json
  packages/vehicle-cache/CHANGELOG.md
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
Due: none

build: use node 12 as minimum engine
  packages/api-client/package.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/package.json
  packages/api-types/package.json
  packages/assets/package.json
  packages/client-desktop/package.json
  packages/client-ng/package.json
  packages/client-types/package.json
  packages/pb-converter/package.json
  packages/pb-types/package.json
  packages/schemas/package.json
  packages/vehicle-cache/package.json
  packages/vehicle-location-diff/package.json
Due: api-types

build: use node 12 as minimum engine (#2258)
  packages/api-client/package.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/package.json
  packages/api-types/package.json
  packages/assets/package.json
  packages/client-desktop/package.json
  packages/client-ng/package.json
  packages/client-types/package.json
  packages/pb-converter/package.json
  packages/pb-types/package.json
  packages/schemas/package.json
  packages/vehicle-cache/package.json
  packages/vehicle-location-diff/package.json
Due: api-types

Path conditions:
  ApiClient: any of: packages/api-client/src
  ClientNg: any of: packages/client-ng/src
  ClientDesktop: any of: packages/client-desktop/src
  ApiProxyRouter: any of: packages/api-proxy-router/src
  ApiProxyServer: any of: packages/api-proxy-server/src
  ApiTypes: any of: packages/api-types/src
  ExpressUtils: any of: packages/express-utils/src
  VehicleCache: any of: packages/vehicle-cache/src
  VehicleLocationDiff: any of: packages/vehicle-location-diff/src
  PbConverter: any of: packages/pb-converter/src
  api-types: any of: packages/api-types/
