Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 5%
        base: auto
      api-types:
        paths: "packages/api-types/src/*"
        threshold: 5%
      client-ng:
        paths: "packages/client-ng/src/*"
        threshold: 5%
      client-desktop:
        paths: "packages/client-desktop/src/*"
        threshold: 5%
      api-client:
        paths: "packages/api-client/src/*"
        threshold: 5%
      api-proxy-router:
        paths: "packages/api-proxy-router/src/*"
        threshold: 5%
      api-proxy-server:
        paths: "packages/api-proxy-server/src/*"
        threshold: 5%
      vehicle-cache:
        paths: "packages/vehicle-cache/src/*"
        threshold: 5%
      vehicle-location-diff:
        paths: "packages/vehicle-location-diff/src/*"
        threshold: 5%
      express-utils:
        paths: "packages/express-utils/src/*"
        threshold: 5%
      pb-converter:
        paths: "packages/pb-converter/src/*"
        threshold: 5%
parsers:
  javascript:
    enable_partials: yes
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no
  after_n_builds: 10

flags:
  ApiClient:
    paths:
      - packages/api-client/src
  ClientNg:
    paths:
      - packages/client-ng/src
  ClientDesktop:
    paths:
      - packages/client-desktop/src
  ApiProxyRouter:
    paths:
      - packages/api-proxy-router/src
  ApiProxyServer:
    paths:
      - packages/api-proxy-server/src
  ApiTypes:
    paths:
      - packages/api-types/src
  ExpressUtils:
    paths:
      - packages/express-utils/src
  VehicleCache:
    paths:
      - packages/vehicle-cache/src
  VehicleLocationDiff:
    paths:
      - packages/vehicle-location-diff/src
  PbConverter:
    paths:
      - packages/pb-converter/src

fix(deps): update angularmaterial monorepo to v11.2.4
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

fix(deps): update angular monorepo to v11.2.5
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

fix(client-types): rename options
  packages/client-types/src/environment.base.ts
Due: none

fix(client-types): remove version property
  packages/client-types/src/environment.base.ts
Due: none

fix(client-types): remove unused properties from base environment (#1631)
  packages/client-types/src/environment.base.ts
Due: none

chore(deps): update dependency rollup to v2.41.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v14.14.34
  package-lock.json
  package.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(deps): update dependency mocha to v8.3.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency chai to v4.3.4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typedoc to v0.20.31
  package-lock.json
  package.json
Due: none

chore(client-desktop): implement webpack
  packages/client-desktop/package.json
  packages/client-desktop/src/cli-commands.ts
  packages/client-desktop/src/main/api-handler.ts
  packages/client-desktop/src/main/api-server-config.ts
  packages/client-desktop/src/main/api-server.spec.ts
  packages/client-desktop/src/main/api-server.ts
  packages/client-desktop/src/main/api-server/api-not-found-request-handler.spec.ts
  packages/client-desktop/src/main/api-server/api-not-found-request-handler.ts
  packages/client-desktop/src/main/api-server/index.ts
  packages/client-desktop/src/main/api-server/server-error-request-handler.ts
  packages/client-desktop/src/main/app-callback.ts
  packages/client-desktop/src/main/app.ts
  packages/client-desktop/src/main/cli-commands.ts
  packages/client-desktop/src/main/index.pug
  packages/client-desktop/src/main/main.ts
  packages/client-desktop/src/main/mw-file-protocol-handler.ts
  packages/client-desktop/src/main/mw-http-protocol-handler.ts
  packages/client-desktop/src/main/renderer.ts
  packages/client-desktop/src/preload/manniwatch-api.ts
  packages/client-desktop/src/preload/prerender.ts
  packages/client-desktop/tsconfig.json
  packages/client-desktop/webpack.config.js
Due: ClientDesktop

fix(deps): add deepmerge dependency
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore: save
  packages/api-proxy-router/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-desktop/src/main/api-handler.ts
  packages/client-desktop/src/main/api-server.ts
  packages/client-desktop/src/main/api-server/api-not-found-request-handler.spec.ts
  packages/client-desktop/src/main/api-server/api-not-found-request-handler.ts
  packages/client-desktop/src/main/api-server/index.ts
  packages/client-desktop/src/main/api-server/server-error-request-handler.ts
  packages/client-desktop/src/main/app.ts
  packages/client-desktop/src/main/cli-commands.ts
  packages/client-desktop/src/main/mw-file-protocol-handler.ts
  packages/client-desktop/src/main/mw-http-protocol-handler.ts
  packages/client-desktop/src/main/mw-tiles-protocol-handler.ts
  packages/client-desktop/src/preload/manniwatch-api.ts
  packages/client-desktop/src/preload/prerender.ts
  packages/client-desktop/webpack.config.js
  packages/client-ng/package-lock.json
  packages/client-ng/src/app/app.module.ts
  packages/client-ng/src/app/modules/openlayers/abstract-ol-map.directive.ts
  packages/client-ng/src/app/services/electron-api.service.ts
  packages/client-ng/src/app/services/web-api.service.ts
  packages/client-ng/src/app/util/electron/index.ts
  packages/client-ng/src/environments/environment.base.ts
  packages/client-ng/src/environments/environment.example.ts
  packages/client-ng/src/environments/index.ts
Due: ClientNg, ClientDesktop

style(client-ng): fix lint errors
  packages/client-ng/src/app/app.module.ts
  packages/client-ng/src/app/modules/openlayers/abstract-ol-map.directive.ts
  packages/client-ng/src/app/services/electron-api.service.ts
  packages/client-ng/src/app/util/electron/index.ts
  packages/client-ng/src/environments/index.ts
Due: ClientNg

style(client-ng): fix lint
  packages/client-ng/src/environments/environment.example.ts
Due: ClientNg

style(client-desktop): fix tslint
  packages/client-desktop/tslint.json
Due: none

style(client-desktop): fix tslint
  packages/client-desktop/src/main/api-handler.ts
  packages/client-desktop/src/main/api-server-config.ts
  packages/client-desktop/src/main/api-server.spec.ts
  packages/client-desktop/src/main/app-callback.ts
  packages/client-desktop/src/main/app.ts
  packages/client-desktop/src/main/cli-commands.ts
  packages/client-desktop/src/main/main.ts
  packages/client-desktop/src/main/mw-file-protocol-handler.ts
  packages/client-desktop/src/main/mw-tiles-protocol-handler.ts
  packages/client-desktop/src/main/renderer.ts
  packages/client-desktop/src/preload/manniwatch-api.ts
  packages/client-desktop/src/preload/prerender.ts
Due: ClientDesktop

feat(client-desktop): use ipc instead of rest calls (#1600)
  packages/api-proxy-router/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-desktop/src/api-server.ts
  packages/client-desktop/src/api-server/api-not-found-request-handler.spec.ts
  packages/client-desktop/src/api-server/api-not-found-request-handler.ts
  packages/client-desktop/src/api-server/index.ts
  packages/client-desktop/src/api-server/server-error-request-handler.ts
  packages/client-desktop/src/app.ts
  packages/client-desktop/src/cli-commands.ts
  packages/client-desktop/src/main/api-handler.ts
  packages/client-desktop/src/main/api-server-config.ts
  packages/client-desktop/src/main/api-server.spec.ts
  packages/client-desktop/src/main/app-callback.ts
  packages/client-desktop/src/main/app.ts
  packages/client-desktop/src/main/cli-commands.ts
  packages/client-desktop/src/main/index.pug
  packages/client-desktop/src/main/main.ts
  packages/client-desktop/src/main/mw-file-protocol-handler.ts
  packages/client-desktop/src/main/mw-tiles-protocol-handler.ts
  packages/client-desktop/src/main/renderer.ts
  packages/client-desktop/src/preload/manniwatch-api.ts
  packages/client-desktop/src/preload/prerender.ts
  packages/client-desktop/src/renderer.ts
  packages/client-desktop/tsconfig.json
  packages/client-desktop/tslint.json
  packages/client-desktop/webpack.config.js
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/client-ng/src/app/app.module.ts
  packages/client-ng/src/app/modules/openlayers/abstract-ol-map.directive.ts
  packages/client-ng/src/app/services/electron-api.service.ts
  packages/client-ng/src/app/services/web-api.service.ts
  packages/client-ng/src/app/util/electron/index.ts
  packages/client-ng/src/environments/environment.base.ts
  packages/client-ng/src/environments/environment.example.ts
  packages/client-ng/src/environments/index.ts
Due: ClientNg, ClientDesktop

chore(deps): update dependency ts-loader to v8.0.18
  package-lock.json
  packages/api-client/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/assets/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/package-lock.json
  packages/client-types/package-lock.json
  packages/pb-types/package-lock.json
  packages/schemas/package-lock.json
  packages/vehicle-cache/package-lock.json
Due: none

chore(deps): update dependency webpack to v5.25.1
  package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/assets/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
Due: none

chore(deps): update dependency typedoc to v0.20.32
  package-lock.json
  package.json
Due: none

feat(client-types): add Coordinate helpers
  packages/client-types/src/environment.base.ts
  packages/client-types/src/index.ts
  packages/client-types/src/map-coordinate.spec.ts
  packages/client-types/src/map-coordinate.ts
Due: none

feat(client-types): add Coordinate helpers (#1643)
  packages/client-types/src/environment.base.ts
  packages/client-types/src/index.ts
  packages/client-types/src/map-coordinate.spec.ts
  packages/client-types/src/map-coordinate.ts
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/api-client/package-lock.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/assets/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/client-types/package-lock.json
  packages/pb-types/package-lock.json
  packages/schemas/package-lock.json
  packages/vehicle-cache/package-lock.json
Due: none

chore(client-desktop): implement shared config
  packages/client-desktop/src/main/api-server-config.ts
  packages/client-desktop/src/main/app-callback.ts
  packages/client-desktop/src/main/app.ts
  packages/client-desktop/src/main/cli-commands.ts
  packages/client-desktop/src/preload/prerender.ts
  packages/client-desktop/src/shared/config/config.ts
  packages/client-desktop/src/shared/config/index.ts
  packages/client-desktop/src/shared/config/load-config.ts
  packages/client-desktop/src/shared/index.ts
Due: ClientDesktop

fix(deps): add ajv dependency
  packages/client-desktop/package.json
Due: none

chore(client-desktop): add ajv to webpack
  packages/client-desktop/package-lock.json
  packages/client-desktop/webpack.config.js
Due: none

chore: add base ajv config
  packages/client-desktop/src/main/cli-commands.ts
  packages/client-desktop/src/shared/config/config.ts
  packages/client-desktop/src/shared/config/load-config.ts
Due: ClientDesktop

chore: save
  packages/client-desktop/src/shared/config/config.ts
Due: ClientDesktop

feat(client-desktop): add CONFIG_SCHEMA
  packages/client-desktop/src/main/cli-commands.ts
  packages/client-desktop/src/shared/config/config.spec.ts
  packages/client-desktop/src/shared/config/config.ts
Due: ClientDesktop

chore(deps): update dependency webpack to v5.26.0
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
Due: none

chore(deps): update dependency @types/node to v14.14.35
  package-lock.json
  package.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

feat(client-desktop): added configLoad method
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-desktop/src/shared/config/config.spec.ts
  packages/client-desktop/src/shared/config/config.ts
  packages/client-desktop/src/shared/config/index.ts
  packages/client-desktop/src/shared/config/load-config.ts
  packages/client-desktop/src/shared/config/validate-file-config.spec.ts
  packages/client-desktop/src/shared/config/validate-file-config.ts
Due: ClientDesktop

chore(deps): update dependency rollup to v2.41.3
  package-lock.json
  package.json
Due: none
