Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter

fix(client-ng): fix issue if no actualTime is provided on a passage (#381)
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list-item.component.spec.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list-item.component.ts
Due: ClientNg

chore(release): publish v0.8.1
  CHANGELOG.md
  lerna.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/CHANGELOG.md
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/api-types/CHANGELOG.md
  packages/api-types/package-lock.json
  packages/api-types/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/pb-converter/CHANGELOG.md
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
  packages/vehicle-cache/CHANGELOG.md
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
  packages/vehicle-location-diff/CHANGELOG.md
  packages/vehicle-location-diff/package-lock.json
  packages/vehicle-location-diff/package.json
Due: none

docs: add build and test instructions to root README.md
  README.md
Due: none

ci(coveralls): fix parrallel coverage upload
  .github/coveralls.js
Due: none

ci(coveralls): fix parrallel coverage upload (#388)
  .github/coveralls.js
Due: none

chore(release): publish v0.8.2
  CHANGELOG.md
  lerna.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/pb-converter/CHANGELOG.md
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
Due: none

fix(client-ng): dont try to pan map if no center is provided
  packages/client-ng/src/app/modules/openlayers/ol-static-map.directive.ts
Due: ClientNg

fix(client-ng): await app isStable before polling passages
  packages/client-ng/src/app/routes/trip-passages/trip-passages.service.ts
Due: ClientNg

test(client-ng): update tests to await isStable
  packages/client-ng/src/app/routes/trip-passages/trip-passages.service.spec.ts
Due: ClientNg

style(client-ng): fix lint stylings
  packages/client-ng/src/app/routes/trip-passages/trip-passages.service.ts
Due: ClientNg

fix(client-ng): await app isStable before polling passages (#401)
  packages/client-ng/src/app/routes/trip-passages/trip-passages.service.spec.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages.service.ts
Due: ClientNg

feat(client-ng): display route on vehicle hover
  packages/client-ng/src/app/modules/main-map/main-map.module.ts
  packages/client-ng/src/app/modules/main-map/ol-main-map.directive.ts
  packages/client-ng/src/app/modules/main-map/ol-main-map.service.ts
  packages/client-ng/src/app/modules/main-map/ol-vehicle-handler.ts
Due: ClientNg

feat(client-ng): display route on vehicle hover (#402)
  packages/client-ng/src/app/modules/main-map/main-map.module.ts
  packages/client-ng/src/app/modules/main-map/ol-main-map.directive.ts
  packages/client-ng/src/app/modules/main-map/ol-main-map.service.ts
  packages/client-ng/src/app/modules/main-map/ol-vehicle-handler.ts
Due: ClientNg

chore(release): publish v0.9.0
  CHANGELOG.md
  lerna.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/CHANGELOG.md
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/api-types/CHANGELOG.md
  packages/api-types/package-lock.json
  packages/api-types/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/express-utils/CHANGELOG.md
  packages/express-utils/package-lock.json
  packages/express-utils/package.json
  packages/pb-converter/CHANGELOG.md
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
  packages/pb-types/CHANGELOG.md
  packages/pb-types/package-lock.json
  packages/pb-types/package.json
  packages/vehicle-cache/CHANGELOG.md
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
  packages/vehicle-location-diff/CHANGELOG.md
  packages/vehicle-location-diff/package-lock.json
  packages/vehicle-location-diff/package.json
Due: none

feat(api-types): add PositionType and StopMode type defintions
  packages/api-types/src/type-util.ts
Due: ApiTypes

refactor(api-types): replace lose type definitions of VehicleCategory
  packages/api-types/src/stop-locations.ts
  packages/api-types/src/vehicle-locations.ts
Due: ApiTypes

feat(api-types): add PositionType and StopMode type defintions (#413)
  packages/api-types/src/stop-locations.ts
  packages/api-types/src/type-util.ts
  packages/api-types/src/vehicle-locations.ts
Due: ApiTypes

refactor(api-client): move StopMode and PositionType definitions to api-types module
  packages/api-client/src/manni-watch-api-client.ts
Due: ApiClient

refactor(vehicle-cache): remove unused code
  packages/vehicle-cache/src/vehicle-cache.spec.ts
  packages/vehicle-cache/src/vehicle-cache.ts
  packages/vehicle-cache/src/vehicle-observer.ts
Due: VehicleCache

feat(vehicle-cache): add intervalVehicleLocationPoll
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
  packages/vehicle-cache/src/cache-message.ts
  packages/vehicle-cache/src/index.spec.ts
  packages/vehicle-cache/src/index.ts
  packages/vehicle-cache/src/interval-vehicle-location-poll.spec.ts
  packages/vehicle-cache/src/interval-vehicle-location-poll.ts
  packages/vehicle-cache/src/vehicle-cache.spec.ts
  packages/vehicle-cache/src/vehicle-cache.ts
  packages/vehicle-cache/src/vehicle-observer.ts
  packages/vehicle-cache/tsconfig.json
  packages/vehicle-cache/tsconfig.prod.json
  packages/vehicle-cache/tslint.json
Due: VehicleCache

test(api-client): fix tests for new imports
  packages/api-client/src/manni-watch-api-client.spec.ts
Due: ApiClient

fix(api-client): remove moved module exports
  packages/api-client/src/index.ts
Due: ApiClient

fix(vehicle-cache): fix import of removed module
  packages/vehicle-cache/src/interval-vehicle-location-poll.spec.ts
Due: VehicleCache

fix(api-proxy-router): fix imports from api-client
  packages/api-proxy-router/src/endpoints/common-test.spec.ts
  packages/api-proxy-router/src/endpoints/geo.spec.ts
  packages/api-proxy-router/src/endpoints/geo.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.ts
Due: ApiProxyRouter

feat(vehicle-cache): add intervalVehicleLocationPoll (#51)
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
  packages/vehicle-cache/src/cache-message.ts
  packages/vehicle-cache/src/index.spec.ts
  packages/vehicle-cache/src/index.ts
  packages/vehicle-cache/src/interval-vehicle-location-poll.spec.ts
  packages/vehicle-cache/src/interval-vehicle-location-poll.ts
  packages/vehicle-cache/src/vehicle-cache.spec.ts
  packages/vehicle-cache/src/vehicle-cache.ts
  packages/vehicle-cache/tsconfig.json
  packages/vehicle-cache/tsconfig.prod.json
  packages/vehicle-cache/tslint.json
Due: VehicleCache

style(api-client): add spacer
  packages/api-client/src/util.ts
Due: ApiClient

refactor(api-client): move StopMode and PositionType definitions (#415)
  packages/api-client/src/index.ts
  packages/api-client/src/manni-watch-api-client.spec.ts
  packages/api-client/src/manni-watch-api-client.ts
  packages/api-client/src/util.ts
  packages/api-proxy-router/src/endpoints/common-test.spec.ts
  packages/api-proxy-router/src/endpoints/geo.spec.ts
  packages/api-proxy-router/src/endpoints/geo.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.ts
Due: ApiClient, ApiProxyRouter

ci(github): remove unused step parameter
  .github/workflows/label_package_pr.yml
Due: none

ci(github): remove unused step parameter (#417)
  .github/workflows/label_package_pr.yml
Due: none

fix(vehicle-cache): fix typo in CommonJS module decleration
  packages/vehicle-cache/package.json
Due: none

fix(vehicle-cache): fix typo in CommonJS module decleration (#445)
  packages/vehicle-cache/package.json
Due: none

feat(pb-types): update vehicle location types
  packages/pb-types/src/deleted-vehicle.proto
  packages/pb-types/src/vehicle-category.proto
  packages/pb-types/src/vehicle-location-list.proto
  packages/pb-types/src/vehicle-locations.proto
Due: none

feat(pb-types): declare type definitions in package.json
  packages/pb-types/package.json
Due: none

refactor(pb-converter): refactor pb-types definitions
  packages/pb-converter/src/convert-deleted-vehicle.spec.ts
  packages/pb-converter/src/convert-deleted-vehicle.ts
  packages/pb-converter/src/convert-location.spec.ts
  packages/pb-converter/src/convert-location.ts
  packages/pb-converter/src/convert-vehicle-category.spec.ts
  packages/pb-converter/src/convert-vehicle-category.ts
  packages/pb-converter/src/convert-vehicle-location.spec.ts
  packages/pb-converter/src/convert-vehicle-location.ts
  packages/pb-converter/src/convert-vehicle-locations.spec.ts
  packages/pb-converter/src/convert-vehicle-locations.ts
Due: PbConverter

feat(pb-types): update vehicle location types (#446)
  packages/pb-converter/src/convert-deleted-vehicle.spec.ts
  packages/pb-converter/src/convert-deleted-vehicle.ts
  packages/pb-converter/src/convert-location.spec.ts
  packages/pb-converter/src/convert-location.ts
  packages/pb-converter/src/convert-vehicle-category.spec.ts
  packages/pb-converter/src/convert-vehicle-category.ts
  packages/pb-converter/src/convert-vehicle-location.spec.ts
  packages/pb-converter/src/convert-vehicle-location.ts
  packages/pb-converter/src/convert-vehicle-locations.spec.ts
  packages/pb-converter/src/convert-vehicle-locations.ts
  packages/pb-types/package.json
  packages/pb-types/src/deleted-vehicle.proto
  packages/pb-types/src/vehicle-category.proto
  packages/pb-types/src/vehicle-location-list.proto
  packages/pb-types/src/vehicle-locations.proto
Due: PbConverter

chore(release): publish v0.10.0
  CHANGELOG.md
  lerna.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/CHANGELOG.md
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/api-types/CHANGELOG.md
  packages/api-types/package-lock.json
  packages/api-types/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/express-utils/CHANGELOG.md
  packages/express-utils/package-lock.json
  packages/express-utils/package.json
  packages/pb-converter/CHANGELOG.md
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
  packages/pb-types/CHANGELOG.md
  packages/pb-types/package-lock.json
  packages/pb-types/package.json
  packages/vehicle-cache/CHANGELOG.md
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
  packages/vehicle-location-diff/CHANGELOG.md
  packages/vehicle-location-diff/package-lock.json
  packages/vehicle-location-diff/package.json
Due: none

test(api-client): fix test for double digit semver parts
  packages/api-client/src/manni-watch-api-client.spec.ts
Due: ApiClient

feat(ws-server): add ws-server package
  packages/ws-server/.gitignore
  packages/ws-server/LICENSE
  packages/ws-server/README.md
  packages/ws-server/package-lock.json
  packages/ws-server/package.json
  packages/ws-server/src/cache-message.ts
  packages/ws-server/src/index.ts
  packages/ws-server/src/poll-vehicles.ts
  packages/ws-server/src/setup-server.ts
  packages/ws-server/tsconfig.json
  packages/ws-server/tslint.json
Due: none

Path conditions:
  ApiClient: any of: packages/api-client/src
  ClientNg: any of: packages/client-ng/src
  ClientDesktop: any of: packages/client-desktop/src
  ApiProxyRouter: any of: packages/api-proxy-router/src
  ApiProxyServer: any of: packages/api-proxy-server/src
  ApiTypes: any of: packages/api-types/src
  ExpressUtils: any of: packages/express-utils/src
  VehicleCache: any of: packages/vehicle-cache/src
  VehicleLocationDiff: any of: packages/vehicle-location-diff/src
  PbConverter: any of: packages/pb-converter/src
