Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter, api-types

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 5%
        base: auto
      api-types:
        paths: "packages/api-types/src/*"
        threshold: 5%
      client-ng:
        paths: "packages/client-ng/src/*"
        threshold: 5%
      client-desktop:
        paths: "packages/client-desktop/src/*"
        threshold: 5%
      api-client:
        paths: "packages/api-client/src/*"
        threshold: 5%
      api-proxy-router:
        paths: "packages/api-proxy-router/src/*"
        threshold: 5%
      api-proxy-server:
        paths: "packages/api-proxy-server/src/*"
        threshold: 5%
      vehicle-cache:
        paths: "packages/vehicle-cache/src/*"
        threshold: 5%
      vehicle-location-diff:
        paths: "packages/vehicle-location-diff/src/*"
        threshold: 5%
      express-utils:
        paths: "packages/express-utils/src/*"
        threshold: 5%
      pb-converter:
        paths: "packages/pb-converter/src/*"
        threshold: 5%
parsers:
  javascript:
    enable_partials: yes
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no
  after_n_builds: 10

flags:
  ApiClient:
    paths:
      - packages/api-client/src
  ClientNg:
    paths:
      - packages/client-ng/src
  ClientDesktop:
    paths:
      - packages/client-desktop/src
  ApiProxyRouter:
    paths:
      - packages/api-proxy-router/src
  ApiProxyServer:
    paths:
      - packages/api-proxy-server/src
  ApiTypes:
    paths:
      - packages/api-types/src
  ExpressUtils:
    paths:
      - packages/express-utils/src
  VehicleCache:
    paths:
      - packages/vehicle-cache/src
  VehicleLocationDiff:
    paths:
      - packages/vehicle-location-diff/src
  PbConverter:
    paths:
      - packages/pb-converter/src

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      api-types:
        paths:
          - packages/api-types/*
flags:
  api-types:
    paths:
      - packages/api-types/

chore(deps): update dependency @donmahallem/gulp-sharp to v2.1.0
  packages/assets/package-lock.json
  packages/assets/package.json
Due: none

fix(deps): update @donmahallem/turbo packages
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
Due: none

chore(deps): update dependency axios to v0.24.0
  package-lock.json
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/client-desktop/package-lock.json
Due: none

chore(deps): update dependency webpack to v5.60.0
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
Due: none

fix(deps): update dependency commander to ~8.3.0
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
Due: none

chore(deps): update dependency ts-node to v10.4.0
  package-lock.json
  package.json
Due: none

style: add jsdoc comment
  packages/api-client/src/manni-watch-api-client.spec.ts
Due: ApiClient

style: add jsdoc comment (#2455)
  packages/api-client/src/manni-watch-api-client.spec.ts
Due: ApiClient

chore(deps): update dependency @donmahallem/eslint-config to v0.3.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v16
  package-lock.json
  package.json
  packages/api-proxy-router/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(deps): update dependency eslint to v8
  package-lock.json
  package.json
  packages/api-proxy-router/package-lock.json
  packages/client-desktop/package-lock.json
Due: none

fix(deps): update angular monorepo to v12.2.12
  package-lock.json
  packages/api-proxy-router/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

fix(deps): update angularmaterial monorepo to v12.2.12
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(deps): update angular-cli monorepo to v12.2.12
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

docs(api-proxy-router): remove duplicate tag
  packages/api-proxy-router/src/endpoints/settings.ts
Due: ApiProxyRouter

chore(deps): update dependency apidoc to v0.50.1
  package-lock.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/client-desktop/package-lock.json
Due: none

chore(deps): update dependency webpack to v5.61.0
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
Due: none

style(api-proxy-router): replace tslint with eslint
  packages/api-proxy-router/.eslintrc.js
  packages/api-proxy-router/package.json
  packages/api-proxy-router/src/api-routes.spec.ts
  packages/api-proxy-router/src/api-routes.ts
  packages/api-proxy-router/src/endpoints/common-test.spec.ts
  packages/api-proxy-router/src/endpoints/geo/index.ts
  packages/api-proxy-router/src/endpoints/geo/router.spec.ts
  packages/api-proxy-router/src/endpoints/geo/router.ts
  packages/api-proxy-router/src/endpoints/index.ts
  packages/api-proxy-router/src/endpoints/settings.spec.ts
  packages/api-proxy-router/src/endpoints/settings.ts
  packages/api-proxy-router/src/endpoints/stop-point.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.spec.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.spec.ts
  packages/api-proxy-router/src/endpoints/trip.ts
  packages/api-proxy-router/src/endpoints/vehicle.spec.ts
  packages/api-proxy-router/src/endpoints/vehicle.ts
  packages/api-proxy-router/src/index.spec.ts
  packages/api-proxy-router/src/index.ts
  packages/api-proxy-router/tsconfig.json
  packages/api-proxy-router/tslint.json
Due: ApiProxyRouter

fix(api-proxy-router): lint and test issues
  packages/api-proxy-router/src/api-routes.spec.ts
  packages/api-proxy-router/src/endpoints/geo/router.spec.ts
  packages/api-proxy-router/src/endpoints/trip.spec.ts
Due: ApiProxyRouter

style(api-proxy-router): replace tslint with eslint (#2460)
  packages/api-proxy-router/.eslintrc.js
  packages/api-proxy-router/package.json
  packages/api-proxy-router/src/api-routes.spec.ts
  packages/api-proxy-router/src/api-routes.ts
  packages/api-proxy-router/src/endpoints/common-test.spec.ts
  packages/api-proxy-router/src/endpoints/geo/index.ts
  packages/api-proxy-router/src/endpoints/geo/router.spec.ts
  packages/api-proxy-router/src/endpoints/geo/router.ts
  packages/api-proxy-router/src/endpoints/index.ts
  packages/api-proxy-router/src/endpoints/settings.spec.ts
  packages/api-proxy-router/src/endpoints/settings.ts
  packages/api-proxy-router/src/endpoints/stop-point.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.spec.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.spec.ts
  packages/api-proxy-router/src/endpoints/trip.ts
  packages/api-proxy-router/src/endpoints/vehicle.spec.ts
  packages/api-proxy-router/src/endpoints/vehicle.ts
  packages/api-proxy-router/src/index.spec.ts
  packages/api-proxy-router/src/index.ts
  packages/api-proxy-router/tsconfig.json
  packages/api-proxy-router/tslint.json
Due: ApiProxyRouter

style(api-proxy-router): update jsdoc config to allow apiDoc tags
  packages/api-proxy-router/.eslintrc.js
Due: none

style(api-proxy-router): reduce number of lint warnings
  packages/api-proxy-router/.eslintrc.js
  packages/api-proxy-router/src/api-routes.spec.ts
  packages/api-proxy-router/src/api-routes.ts
  packages/api-proxy-router/src/endpoints/common-test.spec.ts
  packages/api-proxy-router/src/endpoints/geo/router.spec.ts
  packages/api-proxy-router/src/endpoints/geo/router.ts
  packages/api-proxy-router/src/endpoints/settings.spec.ts
  packages/api-proxy-router/src/endpoints/settings.ts
  packages/api-proxy-router/src/endpoints/stop-point.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.spec.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.spec.ts
  packages/api-proxy-router/src/endpoints/trip.ts
  packages/api-proxy-router/src/endpoints/vehicle.spec.ts
  packages/api-proxy-router/src/endpoints/vehicle.ts
Due: ApiProxyRouter

style(api-proxy-router): update jsdoc config to allow apiDoc tags (#2461)
  packages/api-proxy-router/.eslintrc.js
  packages/api-proxy-router/src/api-routes.spec.ts
  packages/api-proxy-router/src/api-routes.ts
  packages/api-proxy-router/src/endpoints/common-test.spec.ts
  packages/api-proxy-router/src/endpoints/geo/router.spec.ts
  packages/api-proxy-router/src/endpoints/geo/router.ts
  packages/api-proxy-router/src/endpoints/settings.spec.ts
  packages/api-proxy-router/src/endpoints/settings.ts
  packages/api-proxy-router/src/endpoints/stop-point.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.spec.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.spec.ts
  packages/api-proxy-router/src/endpoints/trip.ts
  packages/api-proxy-router/src/endpoints/vehicle.spec.ts
  packages/api-proxy-router/src/endpoints/vehicle.ts
Due: ApiProxyRouter

chore(release): publish v0.28.2
  CHANGELOG.md
  lerna.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/CHANGELOG.md
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/assets/CHANGELOG.md
  packages/assets/package-lock.json
  packages/assets/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/client-types/CHANGELOG.md
  packages/client-types/package-lock.json
  packages/client-types/package.json
  packages/pb-converter/CHANGELOG.md
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
  packages/pb-types/CHANGELOG.md
  packages/pb-types/package-lock.json
  packages/pb-types/package.json
  packages/schemas/CHANGELOG.md
  packages/schemas/package-lock.json
  packages/schemas/package.json
  packages/vehicle-cache/CHANGELOG.md
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/api-client/package-lock.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/assets/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/client-types/package-lock.json
  packages/pb-types/package-lock.json
  packages/schemas/package-lock.json
  packages/vehicle-cache/package-lock.json
Due: none

chore(deps): update dependency rollup to v2.59.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/gulp-sharp to v2.1.1
  packages/assets/package-lock.json
  packages/assets/package.json
Due: none
