Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter, api-types

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 5%
        base: auto
      api-types:
        paths: "packages/api-types/src/*"
        threshold: 5%
      client-ng:
        paths: "packages/client-ng/src/*"
        threshold: 5%
      client-desktop:
        paths: "packages/client-desktop/src/*"
        threshold: 5%
      api-client:
        paths: "packages/api-client/src/*"
        threshold: 5%
      api-proxy-router:
        paths: "packages/api-proxy-router/src/*"
        threshold: 5%
      api-proxy-server:
        paths: "packages/api-proxy-server/src/*"
        threshold: 5%
      vehicle-cache:
        paths: "packages/vehicle-cache/src/*"
        threshold: 5%
      vehicle-location-diff:
        paths: "packages/vehicle-location-diff/src/*"
        threshold: 5%
      express-utils:
        paths: "packages/express-utils/src/*"
        threshold: 5%
      pb-converter:
        paths: "packages/pb-converter/src/*"
        threshold: 5%
parsers:
  javascript:
    enable_partials: yes
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no
  after_n_builds: 10

flags:
  ApiClient:
    paths:
      - packages/api-client/src
  ClientNg:
    paths:
      - packages/client-ng/src
  ClientDesktop:
    paths:
      - packages/client-desktop/src
  ApiProxyRouter:
    paths:
      - packages/api-proxy-router/src
  ApiProxyServer:
    paths:
      - packages/api-proxy-server/src
  ApiTypes:
    paths:
      - packages/api-types/src
  ExpressUtils:
    paths:
      - packages/express-utils/src
  VehicleCache:
    paths:
      - packages/vehicle-cache/src
  VehicleLocationDiff:
    paths:
      - packages/vehicle-location-diff/src
  PbConverter:
    paths:
      - packages/pb-converter/src

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      api-types:
        paths:
          - packages/api-types/*
flags:
  api-types:
    paths:
      - packages/api-types/

chore(deps): lock file maintenance
  packages/api-client/package-lock.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/client-types/package-lock.json
  packages/schemas/package-lock.json
  packages/vehicle-cache/package-lock.json
Due: none

chore(dev-deps): add prettier dependency
  package-lock.json
  package.json
Due: none

chore(dev-deps): add eslint dependency
  package-lock.json
  package.json
Due: none

chore(dev-deps): add @donmahallem/eslint-config dependency
  package-lock.json
  package.json
Due: none

chore(api-types): add tsconfig and eslint configs
  packages/api-types/.eslintrc.js
  packages/api-types/package.json
  packages/api-types/tsconfig.json
  packages/api-types/tsconfig.spec.json
Due: api-types

chore: add prettier root config file
  .prettierrc
Due: none

style(api-types): run eslint fix and prettier fix
  packages/api-types/src/index.spec.ts
  packages/api-types/src/index.ts
  packages/api-types/src/settings.ts
  packages/api-types/src/stop-info.ts
  packages/api-types/src/stop-locations.ts
  packages/api-types/src/stop-passage.ts
  packages/api-types/src/stop-point-info.ts
  packages/api-types/src/stop-point-locations.ts
  packages/api-types/src/trip-passages.ts
  packages/api-types/src/trip-route.ts
  packages/api-types/src/type-util.ts
  packages/api-types/src/vehicle-locations.ts
  packages/api-types/src/vehicle-path-info.ts
  packages/api-types/src/vehicle-status.ts
Due: ApiTypes, api-types

chore(api-client): remove unused legacy file
  packages/api-client/scripts/replace_build_version.js
Due: none

chore(api-types): remove unused tslint config file
  packages/api-types/tslint.json
Due: api-types

chore(api-types): replace tslint with eslint and prettier (#2154)
  .prettierrc
  package-lock.json
  package.json
  packages/api-types/.eslintrc.js
  packages/api-types/package.json
  packages/api-types/src/index.spec.ts
  packages/api-types/src/index.ts
  packages/api-types/src/settings.ts
  packages/api-types/src/stop-info.ts
  packages/api-types/src/stop-locations.ts
  packages/api-types/src/stop-passage.ts
  packages/api-types/src/stop-point-info.ts
  packages/api-types/src/stop-point-locations.ts
  packages/api-types/src/trip-passages.ts
  packages/api-types/src/trip-route.ts
  packages/api-types/src/type-util.ts
  packages/api-types/src/vehicle-locations.ts
  packages/api-types/src/vehicle-path-info.ts
  packages/api-types/src/vehicle-status.ts
  packages/api-types/tsconfig.json
  packages/api-types/tsconfig.spec.json
  packages/api-types/tslint.json
Due: ApiTypes, api-types

ci(github): reduce amount of jobs being started for testing
  .github/workflows/test.yml
Due: none

chore: remove excluded matrix variables
  .github/workflows/test.yml
Due: none

chore: remove redundant docs tests
  .github/workflows/test.yml
Due: none

chore: remove jobs requirement
  .github/workflows/test.yml
Due: none

chore: remove tslint.json config
  packages/api-client/tslint.json
Due: none

chore(api-client): setup eslint and prettier
  packages/api-client/.eslintrc.js
  packages/api-client/package.json
Due: none

chore(api-client): run eslint and prettier fix
  packages/api-client/src/index.spec.ts
  packages/api-client/src/index.ts
  packages/api-client/src/manni-watch-api-client.spec.ts
  packages/api-client/src/manni-watch-api-client.ts
  packages/api-client/src/util.spec.ts
  packages/api-client/src/util.ts
Due: ApiClient

chore(api-client): fix tsconfig.json files
  packages/api-client/tsconfig.json
  packages/api-client/tsconfig.spec.json
Due: none

ci(github): use step to build packages prior
  .github/workflows/test.yml
Due: none

chore: split testing more
  .github/workflows/test.yml
Due: none

ci(github): require docs to finish first
  .github/workflows/test.yml
Due: none

chore: add test output
  .github/workflows/test.yml
Due: none

chore: add specific names to jobs
  .github/workflows/test.yml
Due: none

fix: add path prefix to download artifact
  .github/workflows/test.yml
Due: none

ci(github): reduce number of jobs created in testing (#2156)
  .github/workflows/test.yml
Due: none

chore(deps): update dependency webpack to v5.48.0
  packages/api-proxy-router/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
Due: none

style(api-client): fix lint issues
  packages/api-client/src/index.spec.ts
  packages/api-client/src/index.ts
  packages/api-client/src/manni-watch-api-client.spec.ts
  packages/api-client/src/manni-watch-api-client.ts
  packages/api-client/src/util.spec.ts
  packages/api-client/src/util.ts
Due: ApiClient

chore: fix lint issues
  packages/api-client/src/manni-watch-api-client.spec.ts
Due: ApiClient

chore: fix lint issues
  packages/api-client/src/manni-watch-api-client.spec.ts
  packages/api-client/src/util.spec.ts
Due: ApiClient

ci(github): fix issue with linters catsting as any
  .github/workflows/test.yml
Due: none

ci(github): fix issue with linters catsting as any (#2159)
  .github/workflows/test.yml
Due: none

chore: add gitattributes file for eol
  .gitattributes
Due: none

chore: fix more lint issues
  packages/api-client/src/manni-watch-api-client.spec.ts
Due: ApiClient

style(api-client): use eslint and prettier on api-client (#2157)
  packages/api-client/.eslintrc.js
  packages/api-client/package.json
  packages/api-client/src/index.spec.ts
  packages/api-client/src/index.ts
  packages/api-client/src/manni-watch-api-client.spec.ts
  packages/api-client/src/manni-watch-api-client.ts
  packages/api-client/src/util.spec.ts
  packages/api-client/src/util.ts
  packages/api-client/tsconfig.json
  packages/api-client/tsconfig.spec.json
  packages/api-client/tslint.json
Due: ApiClient

ci(github): move docs deployment to test script
  .github/workflows/test.yml
Due: none

ci(github): remove duplicate docs deploy script
  .github/workflows/deploy_pages.yml
Due: none

ci(github): only deploy docs on push
  .github/workflows/test.yml
Due: none

ci(github): include docs deployment into test workflow (#2161)
  .github/workflows/deploy_pages.yml
  .github/workflows/test.yml
Due: none
