Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter, api-types

fix(client-ng): update missing package-lock.json information
  package-lock.json
  packages/client-types/package.json
Due: none

fix(client-ng): update ol dependencies (#3639)
  package-lock.json
  packages/client-ng/package.json
  packages/client-ng/src/app/modules/main-map/ol-main-map.directive.ts
  packages/client-ng/src/app/modules/main-map/ol-marker-handler.ts
  packages/client-ng/src/app/modules/main-map/ol-vehicle-handler.ts
  packages/client-ng/src/app/modules/openlayers/base-ol-map.directive.ts
  packages/client-ng/src/app/modules/openlayers/ol-static-map.directive.ts
  packages/client-ng/src/app/modules/openlayers/osm-ol-map.directive.ts
  packages/client-ng/src/app/modules/openlayers/vector-ol-map.directive.ts
  packages/client-ng/src/app/util/ol/ol-util.ts
  packages/client-types/package.json
Due: ClientNg

fix(client-ng): add html files
  packages/client-ng/.gitignore
  packages/client-ng/src/app/app.component.html
  packages/client-ng/src/app/modules/common/retry-dialog/retry-dialog.component.html
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.html
  packages/client-ng/src/app/modules/departure-list/departure-list.component.html
  packages/client-ng/src/app/modules/header-box/header-box.component.html
  packages/client-ng/src/app/modules/main-toolbar/main-toolbar.component.html
  packages/client-ng/src/app/modules/main-toolbar/route-loading-indicator.component.html
  packages/client-ng/src/app/modules/main-toolbar/search-box.component.html
  packages/client-ng/src/app/modules/request-update-dialog/request-update-dialog.component.html
  packages/client-ng/src/app/modules/route-list/route-list.component.html
  packages/client-ng/src/app/modules/sidebar/sidebar.component.html
  packages/client-ng/src/app/routes/error/common-error.component.html
  packages/client-ng/src/app/routes/error/not-found-msg-switch.component.html
  packages/client-ng/src/app/routes/error/not-found.component.html
  packages/client-ng/src/app/routes/search/search.component.html
  packages/client-ng/src/app/routes/settings/settings.component.html
  packages/client-ng/src/app/routes/settings/theme-selector/theme-selector.component.html
  packages/client-ng/src/app/routes/stop-point/stop-point-info.component.html
  packages/client-ng/src/app/routes/stop/stop-info.component.html
  packages/client-ng/src/app/routes/stops/stops-info.component.html
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list-item.component.html
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list.component.html
  packages/client-ng/src/app/routes/trip-passages/trip-passages.component.html
  packages/client-ng/src/index.html
Due: ClientNg

build(client-ng): remove pug and pug-cli
  package-lock.json
  packages/client-ng/package.json
Due: none

build(client-ng): remove pug (#3643)
  package-lock.json
  packages/client-ng/.gitignore
  packages/client-ng/package.json
  packages/client-ng/src/app/app.component.html
  packages/client-ng/src/app/modules/common/retry-dialog/retry-dialog.component.html
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.html
  packages/client-ng/src/app/modules/departure-list/departure-list.component.html
  packages/client-ng/src/app/modules/header-box/header-box.component.html
  packages/client-ng/src/app/modules/main-toolbar/main-toolbar.component.html
  packages/client-ng/src/app/modules/main-toolbar/route-loading-indicator.component.html
  packages/client-ng/src/app/modules/main-toolbar/search-box.component.html
  packages/client-ng/src/app/modules/request-update-dialog/request-update-dialog.component.html
  packages/client-ng/src/app/modules/route-list/route-list.component.html
  packages/client-ng/src/app/modules/sidebar/sidebar.component.html
  packages/client-ng/src/app/routes/error/common-error.component.html
  packages/client-ng/src/app/routes/error/not-found-msg-switch.component.html
  packages/client-ng/src/app/routes/error/not-found.component.html
  packages/client-ng/src/app/routes/search/search.component.html
  packages/client-ng/src/app/routes/settings/settings.component.html
  packages/client-ng/src/app/routes/settings/theme-selector/theme-selector.component.html
  packages/client-ng/src/app/routes/stop-point/stop-point-info.component.html
  packages/client-ng/src/app/routes/stop/stop-info.component.html
  packages/client-ng/src/app/routes/stops/stops-info.component.html
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list-item.component.html
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list.component.html
  packages/client-ng/src/app/routes/trip-passages/trip-passages.component.html
  packages/client-ng/src/index.html
Due: ClientNg

fix(client-ng): fix departure display
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.html
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.scss
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.ts
Due: ClientNg

fix(client-ng): fix departure display (#3650)
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.html
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.scss
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.ts
Due: ClientNg

feat(client-ng): reduce components overhead for passages
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list-item.component.html
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list-item.component.pug
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list-item.component.scss
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list-item.component.spec.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list-item.component.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list.component.html
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list.component.scss
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list.component.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages.component.html
  packages/client-ng/src/app/routes/trip-passages/trip-passages.component.scss
  packages/client-ng/src/app/routes/trip-passages/trip-passages.component.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages.module.ts
Due: ClientNg

ci(mergify): upgrade configuration to current format
  .mergify.yml
Due: none

chore: add readme note
  README.md
Due: none

chore: add readme note (#3960)
  README.md
Due: none

ci(renovate): update to repo based bases
  .github/renovate.json
Due: none

ci(renovate): update to repo based bases (#3961)
  .github/renovate.json
Due: none

ci(github): disable staging
  .github/workflows/update_staging.yml
Due: none

test: update mocha config
  .mocharc.json
  packages/api-client/package.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/package.json
  packages/client-types/package.json
  packages/pb-converter/package.json
  packages/schemas/package.json
  packages/vehicle-cache/package.json
  packages/vehicle-location-diff/package.json
  tsconfig.json
Due: none

ci(mergify): use shared config
  .mergify.yml
Due: none

ci(mergify): use shared config (#3978)
  .mergify.yml
Due: none

ci(github): change npm package caching
  .github/workflows/test.yml
Due: none

ci(github): change npm package caching (#3977)
  .github/workflows/test.yml
Due: none

ci(mergify): update mergify config
  .mergify.yml
Due: none

ci(mergify): update
  .mergify.yml
Due: none

ci(mergify): update mergify config (#3987)
  .mergify.yml
Due: none

ci(github): add merge_group trigger
  .github/workflows/test.yml
Due: none

ci(github): add merge_group trigger (#3989)
  .github/workflows/test.yml
Due: none

feat(deps): update turbo dependencies
  package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/package.json
Due: none

feat(deps): update turbo dependencies (#4001)
  package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/package.json
Due: none

fix(api-proxy-router): fix regression
  package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-router/src/api-routes.spec.ts
  packages/api-proxy-router/src/endpoints/geo/router.spec.ts
  packages/api-proxy-router/src/endpoints/settings.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.spec.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.spec.ts
  packages/api-proxy-router/src/endpoints/trip.ts
  packages/api-proxy-router/src/endpoints/vehicle.spec.ts
  packages/api-proxy-router/src/endpoints/vehicle.ts
Due: ApiProxyRouter

fix(api-proxy-router): fix regression (#4003)
  package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-router/src/api-routes.spec.ts
  packages/api-proxy-router/src/endpoints/geo/router.spec.ts
  packages/api-proxy-router/src/endpoints/settings.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.spec.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.spec.ts
  packages/api-proxy-router/src/endpoints/trip.ts
  packages/api-proxy-router/src/endpoints/vehicle.spec.ts
  packages/api-proxy-router/src/endpoints/vehicle.ts
Due: ApiProxyRouter

chore(deps-dev): remove @types/helmet
  package-lock.json
  packages/api-proxy-router/package.json
Due: none

chore(deps-dev): remove @types/helmet (#4004)
  package-lock.json
  packages/api-proxy-router/package.json
Due: none

style(api-proxy-router): fix several styling issues
  packages/api-proxy-router/src/endpoints/geo/router.ts
  packages/api-proxy-router/src/endpoints/settings.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.ts
  packages/api-proxy-router/src/endpoints/vehicle.ts
Due: ApiProxyRouter

feat(api-proxy-router): remove several references to promiseToResponseCalls
  packages/api-proxy-router/src/endpoints/geo/router.ts
  packages/api-proxy-router/src/endpoints/settings.ts
  packages/api-proxy-router/src/endpoints/stop-point.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
Due: ApiProxyRouter

feat(api-proxy-router): remove several references to promiseToResponseCalls
  packages/api-proxy-router/src/endpoints/stop.spec.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.spec.ts
  packages/api-proxy-router/src/endpoints/trip.ts
  packages/api-proxy-router/src/endpoints/vehicle.spec.ts
  packages/api-proxy-router/src/endpoints/vehicle.ts
Due: ApiProxyRouter

feat(api-proxy-router): remove promiseToResponse (#4012)
  packages/api-proxy-router/src/endpoints/geo/router.ts
  packages/api-proxy-router/src/endpoints/settings.ts
  packages/api-proxy-router/src/endpoints/stop-point.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.spec.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.spec.ts
  packages/api-proxy-router/src/endpoints/trip.ts
  packages/api-proxy-router/src/endpoints/vehicle.spec.ts
  packages/api-proxy-router/src/endpoints/vehicle.ts
Due: ApiProxyRouter

chore(deps-dev): remove @donmahallem/turbo
  package-lock.json
  packages/api-proxy-router/package.json
Due: none

chore(deps-dev): remove @donmahallem/turbo (#4032)
  package-lock.json
  packages/api-proxy-router/package.json
Due: none

feat(deps): bump @angular/cli to 18
  packages/client-ng/angular.json
  packages/client-ng/package.json
  packages/client-ng/src/app/app.module.ts
  packages/client-ng/src/app/services/settings/settings.service.spec.ts
  packages/client-ng/src/styles.scss
  packages/client-ng/tsconfig.json
Due: ClientNg

Path conditions:
  ApiClient: any of: packages/api-client/src
  ClientNg: any of: packages/client-ng/src
  ClientDesktop: any of: packages/client-desktop/src
  ApiProxyRouter: any of: packages/api-proxy-router/src
  ApiProxyServer: any of: packages/api-proxy-server/src
  ApiTypes: any of: packages/api-types/src
  ExpressUtils: any of: packages/express-utils/src
  VehicleCache: any of: packages/vehicle-cache/src
  VehicleLocationDiff: any of: packages/vehicle-location-diff/src
  PbConverter: any of: packages/pb-converter/src
  api-types: any of: packages/api-types/
