Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter

chore(deps): update dependency karma to v6.1.1
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(deps): update dependency @donmahallem/gulp-sharp to v1.0.1
  packages/assets/package-lock.json
  packages/assets/package.json
Due: none

chore(deps): update dependency @rollup/plugin-node-resolve to v11.2.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @rollup/plugin-typescript to v8.2.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v14.14.28
  package-lock.json
  package.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/api-client/package-lock.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/assets/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/express-utils/package-lock.json
  packages/pb-types/package-lock.json
  packages/vehicle-cache/package-lock.json
Due: none

chore(deps): update dependency mocha to v8.3.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typedoc to v0.20.25
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/gulp-sharp to v1.0.2
  packages/assets/package-lock.json
  packages/assets/package.json
Due: none

fix(deps): update dependency zone.js to v0.11.4
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(express-utils): remove express-utils package
  packages/express-utils/.gitignore
  packages/express-utils/CHANGELOG.md
  packages/express-utils/LICENSE
  packages/express-utils/README.md
  packages/express-utils/apidoc.json
  packages/express-utils/package-lock.json
  packages/express-utils/package.json
  packages/express-utils/src/index.ts
  packages/express-utils/src/promise-to-response.spec.ts
  packages/express-utils/src/promise-to-response.ts
  packages/express-utils/src/server-error.spec.ts
  packages/express-utils/src/server-error.ts
  packages/express-utils/src/validate-request/convert-validation-error.spec.ts
  packages/express-utils/src/validate-request/convert-validation-error.ts
  packages/express-utils/src/validate-request/index.ts
  packages/express-utils/src/validate-request/validate-query-parameter.ts
  packages/express-utils/src/validate-request/validate-request.spec.ts
  packages/express-utils/src/validate-request/validate-request.ts
  packages/express-utils/tsconfig.json
  packages/express-utils/tslint.json
Due: ExpressUtils

build(api-proxy-router): fix up package.json dependency requirements
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
Due: none

chore(api-proxy-router): remove jsonschema
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
Due: none

fix(api-proxy-router): fix up typescript errors
  packages/api-proxy-router/src/endpoints/vehicle.spec.ts
  packages/api-proxy-router/src/endpoints/vehicle.ts
Due: ApiProxyRouter

chore(deps): update dependency @types/mocha to v8.2.1
  package-lock.json
  package.json
Due: none

fix(deps): update angular monorepo to v11.2.1
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

fix(turbo): bump @donmahallem/turbo to 1.1.0
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
Due: none

chore(deps): update angularcli monorepo
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

fix(deps): update angularmaterial monorepo to v11.2.1
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(deps): update dependency ng-packagr to v11.2.2
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(api-proxy-router): save current progress
  packages/api-proxy-router/src/endpoints/geo.spec.ts
  packages/api-proxy-router/src/endpoints/geo.ts
  packages/api-proxy-router/src/endpoints/schemas/geo-fence.spec.ts
  packages/api-proxy-router/src/endpoints/schemas/geo-fence.ts
  packages/api-proxy-router/src/endpoints/schemas/index.ts
  packages/api-proxy-router/src/endpoints/schemas/int.spec.ts
  packages/api-proxy-router/src/endpoints/schemas/int.ts
  packages/api-proxy-router/src/endpoints/schemas/position-type.spec.ts
  packages/api-proxy-router/src/endpoints/schemas/position-type.ts
  packages/api-proxy-router/src/endpoints/schemas/stop-mode.spec.ts
  packages/api-proxy-router/src/endpoints/schemas/stop-mode.ts
  packages/api-proxy-router/src/endpoints/schemas/stop-passages.spec.ts
  packages/api-proxy-router/src/endpoints/schemas/stop-passages.ts
  packages/api-proxy-router/src/endpoints/schemas/trip-passages.ts
  packages/api-proxy-router/src/endpoints/schemas/uint.spec.ts
  packages/api-proxy-router/src/endpoints/schemas/uint.ts
  packages/api-proxy-router/src/endpoints/schemas/vehicle-location.ts
  packages/api-proxy-router/src/endpoints/settings.spec.ts
  packages/api-proxy-router/src/endpoints/settings.ts
  packages/api-proxy-router/src/endpoints/stop-point.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.spec.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.spec.ts
  packages/api-proxy-router/src/endpoints/trip.ts
Due: ApiProxyRouter

chore(api-proxy-router): remove express-utils references
  packages/api-proxy-router/src/endpoints/settings.spec.ts
  packages/api-proxy-router/src/endpoints/stop.spec.ts
  packages/api-proxy-router/src/endpoints/vehicle.spec.ts
Due: ApiProxyRouter

test(api-proxy-router): more test cases
  packages/api-proxy-router/src/endpoints/schemas/vehicle-location.spec.ts
  packages/api-proxy-router/src/endpoints/schemas/vehicle-location.ts
Due: ApiProxyRouter

style(api-proxy-router): fix lint issues
  packages/api-proxy-router/src/endpoints/geo.ts
  packages/api-proxy-router/src/endpoints/schemas/geo-fence.ts
  packages/api-proxy-router/src/endpoints/schemas/index.ts
  packages/api-proxy-router/src/endpoints/schemas/int.ts
  packages/api-proxy-router/src/endpoints/schemas/position-type.ts
  packages/api-proxy-router/src/endpoints/schemas/stop-mode.ts
  packages/api-proxy-router/src/endpoints/schemas/stop-passages.spec.ts
  packages/api-proxy-router/src/endpoints/schemas/stop-passages.ts
  packages/api-proxy-router/src/endpoints/schemas/trip-passages.ts
  packages/api-proxy-router/src/endpoints/schemas/uint.ts
  packages/api-proxy-router/src/endpoints/schemas/vehicle-location.ts
Due: ApiProxyRouter

style(api-proxy-router): fix lint issues
  packages/api-proxy-router/src/endpoints/schemas/int.spec.ts
  packages/api-proxy-router/src/endpoints/schemas/position-type.spec.ts
  packages/api-proxy-router/src/endpoints/schemas/stop-mode.spec.ts
  packages/api-proxy-router/src/endpoints/schemas/stop-passages.spec.ts
  packages/api-proxy-router/src/endpoints/schemas/uint.spec.ts
  packages/api-proxy-router/src/endpoints/schemas/vehicle-location.spec.ts
  packages/api-proxy-router/src/endpoints/schemas/vehicle-location.ts
Due: ApiProxyRouter

style(api-proxy-router): fix general typings
  packages/api-proxy-router/src/endpoints/schemas/geo-fence.ts
  packages/api-proxy-router/src/endpoints/schemas/int.ts
  packages/api-proxy-router/src/endpoints/schemas/position-type.ts
  packages/api-proxy-router/src/endpoints/schemas/stop-mode.ts
  packages/api-proxy-router/src/endpoints/schemas/stop-passages.ts
  packages/api-proxy-router/src/endpoints/schemas/trip-passages.ts
  packages/api-proxy-router/src/endpoints/schemas/uint.ts
  packages/api-proxy-router/src/endpoints/schemas/util.ts
  packages/api-proxy-router/src/endpoints/schemas/vehicle-location.ts
Due: ApiProxyRouter

Path conditions:
  ApiClient: any of: packages/api-client/src
  ClientNg: any of: packages/client-ng/src
  ClientDesktop: any of: packages/client-desktop/src
  ApiProxyRouter: any of: packages/api-proxy-router/src
  ApiProxyServer: any of: packages/api-proxy-server/src
  ApiTypes: any of: packages/api-types/src
  ExpressUtils: any of: packages/express-utils/src
  VehicleCache: any of: packages/vehicle-cache/src
  VehicleLocationDiff: any of: packages/vehicle-location-diff/src
  PbConverter: any of: packages/pb-converter/src
