Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter

J
  packages/ws-server/package-lock.json
  packages/ws-server/package.json
  packages/ws-server/src/cache-message.ts
  packages/ws-server/src/poll-vehicles.ts
Due: none

J
  packages/ws-server/src/poll-vehicles.ts
Due: none

J
  packages/ws-server/src/cache-message.ts
  packages/ws-server/src/index.ts
  packages/ws-server/src/poll-vehicles.ts
  packages/ws-server/src/setup-server.ts
Due: none

J
  packages/ws-server/src/cache-message.ts
  packages/ws-server/src/poll-vehicles.ts
Due: none

J
  packages/ws-server/src/setup-server.ts
Due: none

J
  packages/client-ng/package-lock.json
  packages/pb-converter/package-lock.json
  packages/ws-server/nodemon.json
  packages/ws-server/package-lock.json
  packages/ws-server/package.json
Due: none

J
  packages/ws-server/debug/index.html
  packages/ws-server/debug/index.ts
  packages/ws-server/nodemon.json
Due: none

J
  packages/ws-server/README.md
  packages/ws-server/debug/index.html
  packages/ws-server/debug/index.ts
  packages/ws-server/nodemon.json
  packages/ws-server/package-lock.json
  packages/ws-server/package.json
  packages/ws-server/src/poll-vehicles.ts
  packages/ws-server/src/setup-server.ts
  packages/ws-server/tsconfig.json
Due: none

chore(release): publish v0.10.1
  CHANGELOG.md
  lerna.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/CHANGELOG.md
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
Due: none

feat(pb-types): new type structure
  packages/pb-types/src/deleted-vehicle.proto
  packages/pb-types/src/location.proto
  packages/pb-types/src/vehicle-location-list.proto
  packages/pb-types/src/vehicle-location.proto
  packages/pb-types/src/ws-message.proto
Due: none

feat(pb-converter): update to recent pb-types impl
  packages/pb-converter/src/convert-deleted-vehicle.spec.ts
  packages/pb-converter/src/convert-deleted-vehicle.ts
  packages/pb-converter/src/convert-vehicle-location.spec.ts
  packages/pb-converter/src/convert-vehicle-location.ts
  packages/pb-converter/src/convert-vehicle-locations.spec.ts
  packages/pb-converter/src/convert-vehicle-locations.ts
Due: PbConverter

feat(pb-types): new type structure (#456)
  packages/pb-converter/src/convert-deleted-vehicle.spec.ts
  packages/pb-converter/src/convert-deleted-vehicle.ts
  packages/pb-converter/src/convert-vehicle-location.spec.ts
  packages/pb-converter/src/convert-vehicle-location.ts
  packages/pb-converter/src/convert-vehicle-locations.spec.ts
  packages/pb-converter/src/convert-vehicle-locations.ts
  packages/pb-types/src/deleted-vehicle.proto
  packages/pb-types/src/location.proto
  packages/pb-types/src/vehicle-location-list.proto
  packages/pb-types/src/vehicle-location.proto
  packages/pb-types/src/ws-message.proto
Due: PbConverter

fix(client-ng): add openlayers map attribution
  packages/client-ng/src/app/modules/openlayers/ol-map.directive.ts
Due: ClientNg

fix(client-ng): add openlayers map attribution (#471)
  packages/client-ng/src/app/modules/openlayers/ol-map.directive.ts
Due: ClientNg

chore(release): publish v0.11.0
  CHANGELOG.md
  lerna.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/CHANGELOG.md
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/api-types/CHANGELOG.md
  packages/api-types/package-lock.json
  packages/api-types/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/express-utils/CHANGELOG.md
  packages/express-utils/package-lock.json
  packages/express-utils/package.json
  packages/pb-converter/CHANGELOG.md
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
  packages/pb-types/CHANGELOG.md
  packages/pb-types/package-lock.json
  packages/pb-types/package.json
  packages/vehicle-cache/CHANGELOG.md
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
  packages/vehicle-location-diff/CHANGELOG.md
  packages/vehicle-location-diff/package-lock.json
  packages/vehicle-location-diff/package.json
Due: none

chore(release): publish v0.11.1
  CHANGELOG.md
  lerna.json
  packages/api-proxy-router/CHANGELOG.md
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/express-utils/CHANGELOG.md
  packages/express-utils/package-lock.json
  packages/express-utils/package.json
  packages/pb-converter/CHANGELOG.md
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
Due: none

ci(mergify): add mergify config file
  .mergify.yml
Due: none

ci(mergify): add mergify config file (#509)
  .mergify.yml
Due: none

chore(release): publish v0.11.2
  CHANGELOG.md
  lerna.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

ci(mergify): delete merged branches
  .mergify.yml
Due: none

ci(mergify): add strict merge option
  .mergify.yml
Due: none

ci(mergify): add strict merge option (#516)
  .mergify.yml
Due: none

fix(deps): add dexie
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

feat(client-ng): cache stop and stop point locations
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/client-ng/src/app/modules/main-map/ol-marker-handler.ts
  packages/client-ng/src/app/routes/stop-point/stop-point-info.service.ts
  packages/client-ng/src/app/services/stop-point.service.ts
  packages/client-ng/src/app/services/stops-db.ts
Due: ClientNg

J
  packages/client-ng/src/app/services/stops-db.ts
Due: ClientNg

J
  packages/client-ng/src/app/routes/search/search-result.resolver.ts
  packages/client-ng/src/app/services/index.ts
  packages/client-ng/src/app/services/stop-point.service.ts
  packages/client-ng/src/app/services/stops-db.ts
Due: ClientNg

docs(api-types): add more docs to api types
  packages/api-types/src/stop-locations.ts
  packages/api-types/src/stop-passage.ts
  packages/api-types/src/stop-point-locations.ts
  packages/api-types/src/trip-passages.ts
  packages/api-types/src/vehicle-path-info.ts
Due: ApiTypes

docs(api-types): add more docs to api types (#525)
  packages/api-types/src/stop-locations.ts
  packages/api-types/src/stop-passage.ts
  packages/api-types/src/stop-point-locations.ts
  packages/api-types/src/trip-passages.ts
  packages/api-types/src/vehicle-path-info.ts
Due: ApiTypes

progres
  packages/client-ng/src/app/modules/main-map/ol-marker-handler.ts
  packages/client-ng/src/app/services/index.ts
  packages/client-ng/src/app/services/stop-point.service.ts
  packages/client-ng/src/app/services/stops-db.ts
Due: ClientNg

feat(api-types): add es module build
  packages/api-types/package.json
  packages/api-types/tsconfig.json
Due: none

feat(api-types): add es module build (#560)
  packages/api-types/package.json
  packages/api-types/tsconfig.json
Due: none

fix(client-ng): vEHICLE_STATUS imports fixed
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list-item.component.spec.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list-item.component.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list.component.spec.ts
Due: ClientNg

fix(client-ng): VEHICLE_STATUS imports fixed (#561)
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list-item.component.spec.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list-item.component.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list.component.spec.ts
Due: ClientNg

fix(deps): bump angular to version 10
  packages/client-ng/.browserslistrc
  packages/client-ng/e2e/tsconfig.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/client-ng/src/app/modules/main-map/ol-main-map.directive.ts
  packages/client-ng/src/app/modules/openlayers/abstract-ol-map.directive.ts
  packages/client-ng/src/app/modules/openlayers/index.ts
  packages/client-ng/src/app/modules/openlayers/ol-static-map.directive.ts
  packages/client-ng/tsconfig.app.json
  packages/client-ng/tsconfig.base.json
  packages/client-ng/tsconfig.json
  packages/client-ng/tsconfig.spec.json
  packages/client-ng/tslint.json
Due: ClientNg

build(tsconfig): use es2018 as default target
  tsconfig.json
Due: none

build(tsconfig): use es2018 as default target (#562)
  tsconfig.json
Due: none

fix(client-ng): prevent issue with symlinked modules
  packages/client-ng/angular.json
Due: none

Path conditions:
  ApiClient: any of: packages/api-client/src
  ClientNg: any of: packages/client-ng/src
  ClientDesktop: any of: packages/client-desktop/src
  ApiProxyRouter: any of: packages/api-proxy-router/src
  ApiProxyServer: any of: packages/api-proxy-server/src
  ApiTypes: any of: packages/api-types/src
  ExpressUtils: any of: packages/express-utils/src
  VehicleCache: any of: packages/vehicle-cache/src
  VehicleLocationDiff: any of: packages/vehicle-location-diff/src
  PbConverter: any of: packages/pb-converter/src
