Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter, api-types

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 5%
        base: auto
      api-types:
        paths: "packages/api-types/src/*"
        threshold: 5%
      client-ng:
        paths: "packages/client-ng/src/*"
        threshold: 5%
      client-desktop:
        paths: "packages/client-desktop/src/*"
        threshold: 5%
      api-client:
        paths: "packages/api-client/src/*"
        threshold: 5%
      api-proxy-router:
        paths: "packages/api-proxy-router/src/*"
        threshold: 5%
      api-proxy-server:
        paths: "packages/api-proxy-server/src/*"
        threshold: 5%
      vehicle-cache:
        paths: "packages/vehicle-cache/src/*"
        threshold: 5%
      vehicle-location-diff:
        paths: "packages/vehicle-location-diff/src/*"
        threshold: 5%
      express-utils:
        paths: "packages/express-utils/src/*"
        threshold: 5%
      pb-converter:
        paths: "packages/pb-converter/src/*"
        threshold: 5%
parsers:
  javascript:
    enable_partials: yes
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no
  after_n_builds: 10

flags:
  ApiClient:
    paths:
      - packages/api-client/src
  ClientNg:
    paths:
      - packages/client-ng/src
  ClientDesktop:
    paths:
      - packages/client-desktop/src
  ApiProxyRouter:
    paths:
      - packages/api-proxy-router/src
  ApiProxyServer:
    paths:
      - packages/api-proxy-server/src
  ApiTypes:
    paths:
      - packages/api-types/src
  ExpressUtils:
    paths:
      - packages/express-utils/src
  VehicleCache:
    paths:
      - packages/vehicle-cache/src
  VehicleLocationDiff:
    paths:
      - packages/vehicle-location-diff/src
  PbConverter:
    paths:
      - packages/pb-converter/src

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      api-client:
        paths:
          - packages/api-client/*
      api-proxy-router:
        paths:
          - packages/api-proxy-router/*
      api-proxy-server:
        paths:
          - packages/api-proxy-server/*
      api-types:
        paths:
          - packages/api-types/*
      client-desktop:
        paths:
          - packages/client-desktop/*
      client-ng:
        paths:
          - packages/client-ng/*
      client-types:
        paths:
          - packages/client-types/*
      pb-converter:
        paths:
          - packages/pb-converter/*
      pb-types:
        paths:
          - packages/pb-types/*
      schemas:
        paths:
          - packages/schemas/*
      vehicle-cache:
        paths:
          - packages/vehicle-cache/*
      vehicle-location-diff:
        paths:
          - packages/vehicle-location-diff/*
flags:
  api-types:
    paths:
      - packages/api-types/
fixes:
  - "/home/runner/work/manniwatch/manniwatch::"

feat(deps): bump protobufjs to v8 (#4157)
  package-lock.json
  packages/pb-types/package.json
Due: none

ci(github): bump release
  .github/workflows/release.yml
Due: none

ci(github): bump release (#4178)
  .github/workflows/release.yml
Due: none

chore(release): publish v0.31.0 [skip ci]
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-proxy-router/CHANGELOG.md
  packages/api-proxy-router/package.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package.json
  packages/api-types/CHANGELOG.md
  packages/api-types/package.json
  packages/assets/CHANGELOG.md
  packages/assets/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package.json
  packages/client-types/CHANGELOG.md
  packages/client-types/package.json
  packages/pb-converter/CHANGELOG.md
  packages/pb-converter/package.json
  packages/pb-types/CHANGELOG.md
  packages/pb-types/package.json
  packages/schemas/CHANGELOG.md
  packages/schemas/package.json
  packages/vehicle-cache/CHANGELOG.md
  packages/vehicle-cache/package.json
  packages/vehicle-location-diff/CHANGELOG.md
  packages/vehicle-location-diff/package.json
Due: api-types

ci(github): use release please
  .github/workflows/release.yml
  .github/workflows/release_publish.yml
  release-please-config.json
  release-please-manifest.json
Due: none

chore(deps): change asar to @electron/asar
  package-lock.json
  packages/client-desktop/package.json
Due: none

ci(github): use release please (#4179)
  .github/workflows/release.yml
  .github/workflows/release_publish.yml
  release-please-config.json
  release-please-manifest.json
Due: none

ci(github): use linked versions
  release-please-config.json
Due: none

ci(github): use linked versions (#4182)
  release-please-config.json
Due: none

chore(deps): change asar to @electron/asar (#4180)
  package-lock.json
  packages/client-desktop/package.json
Due: none

fix: force use typed imports
  packages/pb-converter/src/convert-vehicle-location.ts
  packages/pb-converter/src/convert-vehicle-locations.ts
  packages/vehicle-cache/src/interval-vehicle-location-poll.spec.ts
  packages/vehicle-cache/src/observable/intervall-poll-vehicles.spec.ts
  packages/vehicle-cache/src/observable/query-vehicles.spec.ts
  packages/vehicle-cache/src/operators/convert-poll-result.spec.ts
  packages/vehicle-cache/src/operators/convert-to-cache-entries.spec.ts
  packages/vehicle-cache/src/operators/convert-to-cache-entry.spec.ts
  packages/vehicle-cache/src/operators/query-vehicles.spec.ts
Due: VehicleCache, PbConverter

fix: force use typed imports (#4188)
  packages/pb-converter/src/convert-vehicle-location.ts
  packages/pb-converter/src/convert-vehicle-locations.ts
  packages/vehicle-cache/src/interval-vehicle-location-poll.spec.ts
  packages/vehicle-cache/src/observable/intervall-poll-vehicles.spec.ts
  packages/vehicle-cache/src/observable/query-vehicles.spec.ts
  packages/vehicle-cache/src/operators/convert-poll-result.spec.ts
  packages/vehicle-cache/src/operators/convert-to-cache-entries.spec.ts
  packages/vehicle-cache/src/operators/convert-to-cache-entry.spec.ts
  packages/vehicle-cache/src/operators/query-vehicles.spec.ts
Due: VehicleCache, PbConverter

fix: force use typed imports
  packages/vehicle-cache/src/observable/intervall-poll-vehicles.spec.ts
  packages/vehicle-cache/src/observable/query-vehicles.spec.ts
Due: VehicleCache

fix: use typed imports (#4189)
  packages/vehicle-cache/src/observable/intervall-poll-vehicles.spec.ts
  packages/vehicle-cache/src/observable/query-vehicles.spec.ts
Due: VehicleCache

Revert "fix(deps): update angular-cli monorepo to v21.1.3 (#4186)"
  package-lock.json
  packages/client-ng/package.json
Due: none

Revert "chore(deps): update dependency webpack to v5.105.0 (#4176)"
  package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/package.json
Due: none

Revert "fix(deps): update dependency ol to v10 (#3967)"
  package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/package.json
  packages/client-types/package.json
Due: none

Revert "fix(deps): update dependency @donmahallem/turbo-validate-request to ~3.2.27 (#4191)"
  package-lock.json
  packages/api-proxy-router/package.json
Due: none

Revert "chore(deps): update dependency @typescript-eslint/parser to v8.55.0 (#4194)"
  package-lock.json
  packages/client-ng/package.json
Due: none

Revert "chore(deps): update dependency @donmahallem/rollup-config to v4.2.1 (#4193)"
  package-lock.json
  package.json
Due: none

Revert "fix(deps): update dependency axios to v1.13.5 (#4192)"
  package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/package.json
Due: none

revert: rollback state to b30397bd
  .github/workflows/label_package_pr.yml
  package-lock.json
  package.json
  packages/api-client/package.json
  packages/api-proxy-router/package.json
  packages/client-desktop/package.json
  packages/client-ng/package.json
  packages/client-types/package.json
Due: none

ci(github): force failed and not skipped fail
  .github/workflows/test.yml
Due: none

revert: rollback state to b30397bd (#4199)
  .github/workflows/label_package_pr.yml
  package-lock.json
  package.json
  packages/api-client/package.json
  packages/api-proxy-router/package.json
  packages/client-desktop/package.json
  packages/client-ng/package.json
  packages/client-types/package.json
Due: none

ci(github): force failed and not skipped fail (#4196)
  .github/workflows/test.yml
Due: none
