Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 5%
        base: auto
      api-types:
        paths: "packages/api-types/src/*"
        threshold: 5%
      client-ng:
        paths: "packages/client-ng/src/*"
        threshold: 5%
      client-desktop:
        paths: "packages/client-desktop/src/*"
        threshold: 5%
      api-client:
        paths: "packages/api-client/src/*"
        threshold: 5%
      api-proxy-router:
        paths: "packages/api-proxy-router/src/*"
        threshold: 5%
      api-proxy-server:
        paths: "packages/api-proxy-server/src/*"
        threshold: 5%
      vehicle-cache:
        paths: "packages/vehicle-cache/src/*"
        threshold: 5%
      vehicle-location-diff:
        paths: "packages/vehicle-location-diff/src/*"
        threshold: 5%
      express-utils:
        paths: "packages/express-utils/src/*"
        threshold: 5%
      pb-converter:
        paths: "packages/pb-converter/src/*"
        threshold: 5%
parsers:
  javascript:
    enable_partials: yes
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no
  after_n_builds: 10

flags:
  ApiClient:
    paths:
      - packages/api-client/src
  ClientNg:
    paths:
      - packages/client-ng/src
  ClientDesktop:
    paths:
      - packages/client-desktop/src
  ApiProxyRouter:
    paths:
      - packages/api-proxy-router/src
  ApiProxyServer:
    paths:
      - packages/api-proxy-server/src
  ApiTypes:
    paths:
      - packages/api-types/src
  ExpressUtils:
    paths:
      - packages/express-utils/src
  VehicleCache:
    paths:
      - packages/vehicle-cache/src
  VehicleLocationDiff:
    paths:
      - packages/vehicle-location-diff/src
  PbConverter:
    paths:
      - packages/pb-converter/src

ci(github): build production web app for deployment
  .github/workflows/deploy_pages.yml
Due: none

fix(deps): add node-cache dependency
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
Due: none

test(vehicle-cache): additional tests
  packages/vehicle-cache/src/vehicle-cache.spec.ts
  packages/vehicle-cache/src/vehicle-cache.ts
Due: VehicleCache

test(vehicle-cache): add multiple key test
  packages/vehicle-cache/src/vehicle-cache.spec.ts
Due: VehicleCache

test(vehicle-cache): simple tests
  packages/vehicle-cache/src/vehicle-cache.spec.ts
  packages/vehicle-cache/src/vehicle-cache.ts
Due: VehicleCache

chore(vehicle-cache): module export VehicleCache class
  packages/vehicle-cache/src/index.ts
Due: VehicleCache

chore: add VehicleCache class
  packages/vehicle-cache/src/vehicle-cache.ts
Due: VehicleCache

chore(vehicle-cache): omit some options from VehicleCache constructor
  packages/vehicle-cache/src/vehicle-cache.ts
Due: VehicleCache

fix(vehicle-cache): fix duplicate emission
  packages/vehicle-cache/src/vehicle-cache.ts
Due: VehicleCache

fix(vehicle-cache): export missing type definitions
  packages/vehicle-cache/src/index.ts
Due: VehicleCache

ci(github): remove unused cache path
  .github/workflows/deploy_pages.yml
Due: none

ci(github): use explizit cache keys for docs deploy
  .github/workflows/deploy_pages.yml
Due: none

ci(github): use node 14 for docs deploy
  .github/workflows/deploy_pages.yml
Due: none

ci(github): improve dependency caching for deploy scripts (#1443)
  .github/workflows/deploy_pages.yml
Due: none

feat(vehicle-cache): add better cache implementation (#1441)
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
  packages/vehicle-cache/src/index.ts
  packages/vehicle-cache/src/vehicle-cache.spec.ts
  packages/vehicle-cache/src/vehicle-cache.ts
Due: VehicleCache

fix(deps): update angularmaterial monorepo to v11.1.1
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

fix(deps): update angular monorepo to v11.1.1
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(deps): update dependency sharp to v0.27.1
  packages/assets/package-lock.json
  packages/assets/package.json
Due: none

chore(deps): update dependency karma to v6.0.3
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(deps): update dependency rollup to v2.38.1
  package-lock.json
  package.json
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
Due: none

feat(api-types): add TimestampVehicleLocation helper type
  packages/api-types/src/vehicle-locations.ts
Due: ApiTypes

docs(api-types): add additional information
  packages/api-types/src/vehicle-locations.ts
Due: ApiTypes

feat(api-types): add TimestampVehicleLocation helper type (#1451)
  packages/api-types/src/vehicle-locations.ts
Due: ApiTypes

chore(deps): update dependency @rollup/plugin-node-resolve to v11.1.1
  package-lock.json
  package.json
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
Due: none

fix(pb-types): add required id to vehicle location
  packages/pb-types/src/vehicle-location.proto
Due: none

fix(pb-types): remove incorrect require statements
  packages/pb-types/src/vehicle-location.proto
Due: none

fix(pb-types): add required id to vehicle location (#1454)
  packages/pb-types/src/vehicle-location.proto
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v17.1.0
  package-lock.json
  package.json
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
Due: none

chore(deps): update dependency @rollup/plugin-typescript to v8.1.1
  package-lock.json
  package.json
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
Due: none

chore(deps): update dependency nock to v13.0.7
  packages/api-client/package-lock.json
  packages/api-client/package.json
Due: none

chore(deps): update dependency rollup to v2.38.2
  package-lock.json
  package.json
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
Due: none
