Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter, api-types

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 5%
        base: auto
      api-types:
        paths: "packages/api-types/src/*"
        threshold: 5%
      client-ng:
        paths: "packages/client-ng/src/*"
        threshold: 5%
      client-desktop:
        paths: "packages/client-desktop/src/*"
        threshold: 5%
      api-client:
        paths: "packages/api-client/src/*"
        threshold: 5%
      api-proxy-router:
        paths: "packages/api-proxy-router/src/*"
        threshold: 5%
      api-proxy-server:
        paths: "packages/api-proxy-server/src/*"
        threshold: 5%
      vehicle-cache:
        paths: "packages/vehicle-cache/src/*"
        threshold: 5%
      vehicle-location-diff:
        paths: "packages/vehicle-location-diff/src/*"
        threshold: 5%
      express-utils:
        paths: "packages/express-utils/src/*"
        threshold: 5%
      pb-converter:
        paths: "packages/pb-converter/src/*"
        threshold: 5%
parsers:
  javascript:
    enable_partials: yes
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no
  after_n_builds: 10

flags:
  ApiClient:
    paths:
      - packages/api-client/src
  ClientNg:
    paths:
      - packages/client-ng/src
  ClientDesktop:
    paths:
      - packages/client-desktop/src
  ApiProxyRouter:
    paths:
      - packages/api-proxy-router/src
  ApiProxyServer:
    paths:
      - packages/api-proxy-server/src
  ApiTypes:
    paths:
      - packages/api-types/src
  ExpressUtils:
    paths:
      - packages/express-utils/src
  VehicleCache:
    paths:
      - packages/vehicle-cache/src
  VehicleLocationDiff:
    paths:
      - packages/vehicle-location-diff/src
  PbConverter:
    paths:
      - packages/pb-converter/src

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      api-client:
        paths:
          - packages/api-client/*
      api-proxy-router:
        paths:
          - packages/api-proxy-router/*
      api-proxy-server:
        paths:
          - packages/api-proxy-server/*
      api-types:
        paths:
          - packages/api-types/*
      client-desktop:
        paths:
          - packages/client-desktop/*
      client-ng:
        paths:
          - packages/client-ng/*
      client-types:
        paths:
          - packages/client-types/*
      pb-converter:
        paths:
          - packages/pb-converter/*
      pb-types:
        paths:
          - packages/pb-types/*
      schemas:
        paths:
          - packages/schemas/*
      vehicle-cache:
        paths:
          - packages/vehicle-cache/*
      vehicle-location-diff:
        paths:
          - packages/vehicle-location-diff/*
flags:
  api-types:
    paths:
      - packages/api-types/
fixes:
  - "/home/runner/work/manniwatch/manniwatch::"

feat(deps): bump @angular/material to 18
  packages/client-ng/package.json
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.scss
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list-item.component.scss
  packages/client-ng/src/themes.scss
Due: ClientNg

style(client-ng): fix temp styling issues
  package-lock.json
  packages/client-ng/src/app/app.module.ts
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.scss
  packages/client-ng/src/styles.scss
  packages/client-ng/src/themes.scss
  tsconfig.json
Due: ClientNg

style(client-ng): fix temp styling issues
  packages/client-ng/src/app/services/settings/settings.service.spec.ts
Due: ClientNg

deps(client-ng): bump to angular 18 (#4033)
  package-lock.json
  packages/client-ng/angular.json
  packages/client-ng/package.json
  packages/client-ng/src/app/app.module.ts
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.scss
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list-item.component.scss
  packages/client-ng/src/app/services/settings/settings.service.spec.ts
  packages/client-ng/src/styles.scss
  packages/client-ng/src/themes.scss
  packages/client-ng/tsconfig.json
  tsconfig.json
Due: ClientNg

feat(deps): bump to angular/material 19
  packages/client-ng/package.json
  packages/client-ng/src/styles.scss
Due: ClientNg

feat(deps): bump to angular/cli 19
  packages/client-ng/angular.json
  packages/client-ng/package.json
Due: none

feat(deps): bump to angular-eslint/schematics 19
  packages/client-ng/package.json
Due: none

fix(client-ng): fix auto gen issue
  packages/client-ng/src/app/app.module.ts
Due: ClientNg

chore(deps-dev): update package-lock.json
  package-lock.json
Due: none

fix(deps): bump axios and rxjs deps
  package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/package.json
  packages/client-ng/package.json
  packages/client-ng/src/app/util/retry-resolver.ts
  packages/vehicle-cache/package.json
Due: ClientNg

chore: fix extract script
  scripts/extract_packages.js
Due: none

chore: fix extract script (#4035)
  scripts/extract_packages.js
Due: none

chore(release): publish v0.30.0 [skip ci]
  CHANGELOG.md
  README.md
  lerna.json
  package-lock.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/api-proxy-router/CHANGELOG.md
  packages/api-proxy-router/package.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package.json
  packages/api-types/CHANGELOG.md
  packages/api-types/package.json
  packages/assets/CHANGELOG.md
  packages/assets/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package.json
  packages/client-types/CHANGELOG.md
  packages/client-types/package.json
  packages/pb-converter/CHANGELOG.md
  packages/pb-converter/package.json
  packages/pb-types/CHANGELOG.md
  packages/pb-types/package.json
  packages/schemas/CHANGELOG.md
  packages/schemas/package.json
  packages/vehicle-cache/CHANGELOG.md
  packages/vehicle-cache/package.json
  packages/vehicle-location-diff/CHANGELOG.md
  packages/vehicle-location-diff/package.json
Due: api-types

fix(client-desktop): fix prepublishScript
  packages/client-desktop/package.json
Due: none

fix(client-desktop): change how relectorn works
  package-lock.json
  packages/client-desktop/package.json
  packages/client-desktop/src/main/app.ts
Due: ClientDesktop

fix(client-desktop): change how relectorn works (#4045)
  package-lock.json
  packages/client-desktop/package.json
  packages/client-desktop/src/main/app.ts
Due: ClientDesktop

fix(api-proxy-router): fix breaking change in sinon19
  packages/api-proxy-router/src/endpoints/settings.spec.ts
Due: ApiProxyRouter

fix(api-proxy-router): fix breaking change in sinon19 (#4050)
  packages/api-proxy-router/src/endpoints/settings.spec.ts
Due: ApiProxyRouter

feat(api-proxy-server): update package info
  packages/api-proxy-server/package.json
Due: none

feat(api-proxy-server): fix relative linked libs
  packages/api-proxy-server/src/index.ts
  packages/api-proxy-server/src/proxy-api-server.ts
  packages/api-proxy-server/src/proxy-server.ts
Due: ApiProxyServer

fix(api-proxy-server): fix relative module references (#4068)
  packages/api-proxy-server/package.json
  packages/api-proxy-server/src/index.ts
  packages/api-proxy-server/src/proxy-api-server.ts
  packages/api-proxy-server/src/proxy-server.ts
Due: ApiProxyServer

chore(release): publish v0.30.1 [skip ci]
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/api-proxy-router/CHANGELOG.md
  packages/api-proxy-router/package.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package.json
Due: none

feat(api-proxy-server): add live check endpoint
  packages/api-proxy-server/src/proxy-api-server.ts
  packages/api-proxy-server/src/proxy-server.ts
Due: ApiProxyServer

feat(api-proxy-server): add live check endpoint (#4069)
  packages/api-proxy-server/src/proxy-api-server.ts
  packages/api-proxy-server/src/proxy-server.ts
Due: ApiProxyServer

style(api-proxy-router): fix several styling issues
  packages/api-proxy-server/src/proxy-api-server.ts
  packages/api-proxy-server/src/proxy-server.ts
Due: ApiProxyServer

style(api-proxy-router): fix several styling issues (#4071)
  packages/api-proxy-server/src/proxy-api-server.ts
  packages/api-proxy-server/src/proxy-server.ts
Due: ApiProxyServer

ci(mergify): upgrade configuration to current format
  .mergify.yml
Due: none

fix(deps-dev): bump eslint dependencies
  package-lock.json
  package.json
  packages/client-ng/package.json
Due: none

fix(deps-dev): bump eslint dependencies (#4133)
  package-lock.json
  package.json
  packages/client-ng/package.json
Due: none

fix(deps-dev): bump eslint dependencies
  package-lock.json
  packages/client-ng/.eslintrc.json
Due: none

feat(deps): bump protobufjs to v8
  package-lock.json
  packages/pb-types/package.json
Due: none
