Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter, api-types

chore(deps): update dependency @donmahallem/eslint-config to v1.0.96
  package-lock.json
  package.json
Due: none

fix(deps): update angularmaterial monorepo to v14.0.2
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(deps): update dependency @donmahallem/gulp-sharp to v2.3.3
  packages/assets/package-lock.json
  packages/assets/package.json
Due: none

fix(deps): update @donmahallem/turbo packages
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
Due: none

chore(release): publish v0.29.16 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/CHANGELOG.md
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/api-types/CHANGELOG.md
  packages/api-types/package.json
  packages/assets/CHANGELOG.md
  packages/assets/package-lock.json
  packages/assets/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/client-types/CHANGELOG.md
  packages/client-types/package-lock.json
  packages/client-types/package.json
  packages/pb-converter/CHANGELOG.md
  packages/pb-converter/package.json
  packages/pb-types/CHANGELOG.md
  packages/pb-types/package-lock.json
  packages/pb-types/package.json
  packages/schemas/CHANGELOG.md
  packages/schemas/package-lock.json
  packages/schemas/package.json
  packages/vehicle-cache/CHANGELOG.md
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
  packages/vehicle-location-diff/CHANGELOG.md
  packages/vehicle-location-diff/package.json
Due: api-types

fix(assets): update gulp to esm
  packages/assets/gulpfile.js/build/index.js
  packages/assets/gulpfile.js/index.js
  packages/assets/gulpfile.mjs/build/index.mjs
  packages/assets/gulpfile.mjs/index.mjs
  packages/assets/package.json
Due: none

build(root): remove lerna fixer release script
  package-lock.json
  package.json
Due: none

build(root): remove lerna fixer release script (#3214)
  package-lock.json
  package.json
Due: none

ci(github): bump node test version to 18 and 20
  .github/workflows/test.yml
Due: none

ci(github): bump several node versions to v20
  .github/workflows/deploy_pages.yml
  .github/workflows/release.yml
  .github/workflows/release_publish.yml
  .github/workflows/test_renovate.yml
  .github/workflows/update_staging.yml
Due: none

test(api-client): fixes test case for newer node versions
  packages/api-client/src/util.spec.ts
Due: ApiClient

test(api-client): fixes test case for newer node versions (#3583)
  packages/api-client/src/util.spec.ts
Due: ApiClient

ci(renovate): merge major axios updates with turbo updates
  .github/renovate.json
Due: none

ci(renovate): merge major axios updates with turbo updates (#3584)
  .github/renovate.json
Due: none

ci(github): bump several node versions to v20 (#3582)
  .github/workflows/deploy_pages.yml
  .github/workflows/release.yml
  .github/workflows/release_publish.yml
  .github/workflows/test_renovate.yml
  .github/workflows/update_staging.yml
Due: none

ci(github): remove references to lerna bootstrap
  .github/workflows/deploy_pages.yml
  .github/workflows/release_publish.yml
  .github/workflows/test.yml
Due: none

fix: a lot of dependencies are broken
  package-lock.json
  package.json
  packages/api-client/package-lock.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/assets/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/client-types/package-lock.json
  packages/pb-types/package-lock.json
  packages/schemas/package-lock.json
  packages/vehicle-cache/package-lock.json
Due: none

chore: fix up package-lock.json
  package-lock.json
Due: none

fix(pb-types): fix build script for pb-types
  packages/pb-types/package.json
Due: none

fix: replace with with assert
  packages/api-client/rollup.config.mjs
  packages/api-proxy-router/rollup.config.mjs
  packages/api-proxy-server/rollup.config.mjs
  packages/client-types/rollup.config.mjs
  packages/pb-converter/rollup.config.mjs
  packages/schemas/rollup.config.mjs
Due: none

docs: fix docs generation
  packages/api-client/package.json
  packages/api-client/typedoc.config.cjs
  packages/api-proxy-router/package.json
  packages/api-proxy-router/typedoc.config.cjs
  packages/api-proxy-server/package.json
  packages/api-proxy-server/typedoc.config.cjs
  packages/api-types/package.json
  packages/api-types/typedoc.config.cjs
  packages/client-desktop/package.json
  packages/client-desktop/tsconfig.json
  packages/client-desktop/typedoc.config.cjs
  packages/client-types/package.json
  packages/client-types/typedoc.config.cjs
  packages/pb-converter/package.json
  packages/pb-converter/typedoc.config.cjs
  packages/schemas/package.json
  packages/schemas/typedoc.config.cjs
  packages/vehicle-cache/package.json
  packages/vehicle-cache/typedoc.config.cjs
  packages/vehicle-location-diff/package.json
  packages/vehicle-location-diff/typedoc.config.cjs
  packages/vehicle-location-diff/typedoc.config.js
Due: api-types

style(client-desktop): replace tslint with eslint
  packages/api-client/typedoc.config.cjs
  packages/api-proxy-router/typedoc.config.cjs
  packages/api-proxy-server/typedoc.config.cjs
  packages/client-desktop/.eslintrc.cjs
  packages/client-desktop/package.json
  packages/client-desktop/src/environment/environment.prod.ts
  packages/client-desktop/src/environment/environment.ts
  packages/client-desktop/src/main/api-handler.ts
  packages/client-desktop/src/main/api-server.spec.ts
  packages/client-desktop/src/main/app-callback.ts
  packages/client-desktop/src/main/app.ts
  packages/client-desktop/src/main/cli/cli-config.ts
  packages/client-desktop/src/main/cli/handle-cli.ts
  packages/client-desktop/src/main/cli/index.ts
  packages/client-desktop/src/main/config/config.ts
  packages/client-desktop/src/main/config/index.ts
  packages/client-desktop/src/main/config/load-config.ts
  packages/client-desktop/src/main/config/validate-file-config.spec.ts
  packages/client-desktop/src/main/config/validate-file-config.ts
  packages/client-desktop/src/main/main.ts
  packages/client-desktop/src/main/mw-file-protocol-handler.ts
  packages/client-desktop/src/main/mw-tiles-protocol-handler.ts
  packages/client-desktop/src/main/renderer.ts
  packages/client-desktop/src/preload/manniwatch-api.ts
  packages/client-desktop/src/preload/prerender.ts
  packages/client-desktop/typedoc.config.cjs
  packages/client-types/typedoc.config.cjs
  packages/pb-converter/typedoc.config.cjs
  packages/schemas/typedoc.config.cjs
  packages/vehicle-cache/typedoc.config.cjs
  packages/vehicle-location-diff/typedoc.config.cjs
Due: ClientDesktop

style(client-desktop): replace tslint with eslint
  packages/client-desktop/src/preload/prerender.ts
Due: ClientDesktop

style(client-desktop): replace tslint with eslint
  packages/client-desktop/src/main/renderer.ts
  packages/client-desktop/src/preload/prerender.ts
Due: ClientDesktop

fix: remove proxyquire dependencies
  package-lock.json
  packages/api-proxy-router/package.json
  packages/assets/package.json
  packages/vehicle-cache/package.json
Due: none

fix: remove proxyquire dependencies (#3600)
  package-lock.json
  packages/api-proxy-router/package.json
  packages/assets/package.json
  packages/vehicle-cache/package.json
Due: none

ci(github): update deploy action
  .github/workflows/deploy_pages.yml
Due: none

ci(github): update deploy action (#3607)
  .github/workflows/deploy_pages.yml
Due: none

ci(gitbub): update deploy_pages.yml
  .github/workflows/deploy_pages.yml
Due: none

ci(gitbub): update deploy_pages.yml (#3615)
  .github/workflows/deploy_pages.yml
Due: none

ci(github): update github labeler config
  .github/labeler.yml
Due: none

ci(github): update github labeler config (#3632)
  .github/labeler.yml
Due: none

fix(client-ng): update ol dependencies
  packages/client-ng/package.json
  packages/client-ng/src/app/modules/main-map/ol-main-map.directive.ts
  packages/client-ng/src/app/modules/main-map/ol-marker-handler.ts
  packages/client-ng/src/app/modules/main-map/ol-vehicle-handler.ts
  packages/client-ng/src/app/modules/openlayers/base-ol-map.directive.ts
  packages/client-ng/src/app/modules/openlayers/ol-static-map.directive.ts
  packages/client-ng/src/app/modules/openlayers/osm-ol-map.directive.ts
  packages/client-ng/src/app/modules/openlayers/vector-ol-map.directive.ts
  packages/client-ng/src/app/util/ol/ol-util.ts
Due: ClientNg

Path conditions:
  ApiClient: any of: packages/api-client/src
  ClientNg: any of: packages/client-ng/src
  ClientDesktop: any of: packages/client-desktop/src
  ApiProxyRouter: any of: packages/api-proxy-router/src
  ApiProxyServer: any of: packages/api-proxy-server/src
  ApiTypes: any of: packages/api-types/src
  ExpressUtils: any of: packages/express-utils/src
  VehicleCache: any of: packages/vehicle-cache/src
  VehicleLocationDiff: any of: packages/vehicle-location-diff/src
  PbConverter: any of: packages/pb-converter/src
  api-types: any of: packages/api-types/
