Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter, api-types

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 5%
        base: auto
      api-types:
        paths: "packages/api-types/src/*"
        threshold: 5%
      client-ng:
        paths: "packages/client-ng/src/*"
        threshold: 5%
      client-desktop:
        paths: "packages/client-desktop/src/*"
        threshold: 5%
      api-client:
        paths: "packages/api-client/src/*"
        threshold: 5%
      api-proxy-router:
        paths: "packages/api-proxy-router/src/*"
        threshold: 5%
      api-proxy-server:
        paths: "packages/api-proxy-server/src/*"
        threshold: 5%
      vehicle-cache:
        paths: "packages/vehicle-cache/src/*"
        threshold: 5%
      vehicle-location-diff:
        paths: "packages/vehicle-location-diff/src/*"
        threshold: 5%
      express-utils:
        paths: "packages/express-utils/src/*"
        threshold: 5%
      pb-converter:
        paths: "packages/pb-converter/src/*"
        threshold: 5%
parsers:
  javascript:
    enable_partials: yes
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no
  after_n_builds: 10

flags:
  ApiClient:
    paths:
      - packages/api-client/src
  ClientNg:
    paths:
      - packages/client-ng/src
  ClientDesktop:
    paths:
      - packages/client-desktop/src
  ApiProxyRouter:
    paths:
      - packages/api-proxy-router/src
  ApiProxyServer:
    paths:
      - packages/api-proxy-server/src
  ApiTypes:
    paths:
      - packages/api-types/src
  ExpressUtils:
    paths:
      - packages/express-utils/src
  VehicleCache:
    paths:
      - packages/vehicle-cache/src
  VehicleLocationDiff:
    paths:
      - packages/vehicle-location-diff/src
  PbConverter:
    paths:
      - packages/pb-converter/src

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      api-types:
        paths:
          - packages/api-types/*
flags:
  api-types:
    paths:
      - packages/api-types/

chore(deps): lock file maintenance
  packages/api-client/package-lock.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/client-types/package-lock.json
  packages/schemas/package-lock.json
  packages/vehicle-cache/package-lock.json
Due: none

chore(deps): update dependency @types/node to v16.11.15
  package-lock.json
  package.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/assets/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/pb-types/package-lock.json
Due: none

chore(deps): update dependency @types/node to v16.11.17
  package-lock.json
  package.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(deps): update dependency rollup to v2.62.0
  package-lock.json
  package.json
  packages/client-ng/package-lock.json
Due: none

chore(deps): update donmahallem/lerna-label action to v0.1.9
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update dependency apidoc to v0.50.3
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
Due: none

chore(deps): update dependency @donmahallem/rollup-config to v0.7.1
  package-lock.json
  package.json
Due: none

fix(api-client): use qs as default import
  packages/api-client/src/manni-watch-api-client.ts
Due: ApiClient

fix(api-client): use qs as default import (#2630)
  packages/api-client/src/manni-watch-api-client.ts
Due: ApiClient

fix(deps): update dependency @donmahallem/rxjs-zone to v0.3.2
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(api-client): specify type only imports
  packages/api-client/src/manni-watch-api-client.ts
Due: ApiClient

fix(api-client): add more api typings
  packages/api-client/src/manni-watch-api-client.ts
Due: ApiClient

refactor(api-client): add more verbose typings to axios requests
  packages/api-client/src/manni-watch-api-client.ts
Due: ApiClient

fix(api-client): more verbose typings (#2631)
  packages/api-client/src/manni-watch-api-client.ts
Due: ApiClient

chore(deps): update dependency @donmahallem/eslint-config to v0.5.2
  package-lock.json
  package.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/client-desktop/package-lock.json
Due: none

chore(deps): update dependency @donmahallem/gulp-sharp to v2.2.2
  packages/assets/package-lock.json
  packages/assets/package.json
Due: none

fix(deps): update @donmahallem/turbo packages
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
Due: none

chore(deps): update dependency copy-webpack-plugin to v10.2.0
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/package-lock.json
Due: none

chore(client-desktop): bump copy-webpack-plugin to 10.2.0
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
Due: none

chore(client-desktop): bump copy-webpack-plugin to 10.2.0 (#2632)
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
Due: none

fix(deps): update dependency express to v4.17.2
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/client-ng/package-lock.json
Due: none

fix(deps): update express to 4.17.2
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
Due: none

fix(deps): update express to 4.17.2 (#2633)
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
Due: none

build(api-client): specify build options
  packages/api-client/package.json
Due: none

fix(api-client): fix require export for package
  packages/api-client/package.json
Due: none

build(api-client): specify build options (#2634)
  packages/api-client/package.json
Due: none

style(api-client): fix several lint warnings
  packages/api-client/src/manni-watch-api-client.spec.ts
Due: ApiClient

build(api-proxy-router): add exports to package
  packages/api-proxy-router/package.json
Due: none

style(api-client): fix several lint warnings (#2635)
  packages/api-client/src/manni-watch-api-client.spec.ts
Due: ApiClient

build(api-proxy-router): add exports to package (#2636)
  packages/api-proxy-router/package.json
Due: none

chore(release): publish v0.28.3
  CHANGELOG.md
  lerna.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/CHANGELOG.md
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/api-types/CHANGELOG.md
  packages/api-types/package-lock.json
  packages/api-types/package.json
  packages/assets/CHANGELOG.md
  packages/assets/package-lock.json
  packages/assets/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/client-types/CHANGELOG.md
  packages/client-types/package-lock.json
  packages/client-types/package.json
  packages/pb-converter/CHANGELOG.md
  packages/pb-converter/package.json
  packages/pb-types/CHANGELOG.md
  packages/pb-types/package-lock.json
  packages/pb-types/package.json
  packages/schemas/CHANGELOG.md
  packages/schemas/package-lock.json
  packages/schemas/package.json
  packages/vehicle-cache/CHANGELOG.md
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
  packages/vehicle-location-diff/CHANGELOG.md
  packages/vehicle-location-diff/package.json
Due: api-types

chore(deps): update angular-cli monorepo to v13
  package-lock.json
  packages/api-client/package-lock.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/assets/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/client-types/package-lock.json
  packages/pb-types/package-lock.json
  packages/schemas/package-lock.json
  packages/vehicle-cache/package-lock.json
Due: none

fix(deps): update angular monorepo to v13
  package-lock.json
  packages/api-client/package-lock.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/assets/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/client-types/package-lock.json
  packages/pb-types/package-lock.json
  packages/schemas/package-lock.json
  packages/vehicle-cache/package-lock.json
Due: none
