Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 5%
        base: auto
      api-types:
        paths: "packages/api-types/src/*"
        threshold: 5%
      client-ng:
        paths: "packages/client-ng/src/*"
        threshold: 5%
      client-desktop:
        paths: "packages/client-desktop/src/*"
        threshold: 5%
      api-client:
        paths: "packages/api-client/src/*"
        threshold: 5%
      api-proxy-router:
        paths: "packages/api-proxy-router/src/*"
        threshold: 5%
      api-proxy-server:
        paths: "packages/api-proxy-server/src/*"
        threshold: 5%
      vehicle-cache:
        paths: "packages/vehicle-cache/src/*"
        threshold: 5%
      vehicle-location-diff:
        paths: "packages/vehicle-location-diff/src/*"
        threshold: 5%
      express-utils:
        paths: "packages/express-utils/src/*"
        threshold: 5%
      pb-converter:
        paths: "packages/pb-converter/src/*"
        threshold: 5%
parsers:
  javascript:
    enable_partials: yes
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no
  after_n_builds: 10

flags:
  ApiClient:
    paths:
      - packages/api-client/src
  ClientNg:
    paths:
      - packages/client-ng/src
  ClientDesktop:
    paths:
      - packages/client-desktop/src
  ApiProxyRouter:
    paths:
      - packages/api-proxy-router/src
  ApiProxyServer:
    paths:
      - packages/api-proxy-server/src
  ApiTypes:
    paths:
      - packages/api-types/src
  ExpressUtils:
    paths:
      - packages/express-utils/src
  VehicleCache:
    paths:
      - packages/vehicle-cache/src
  VehicleLocationDiff:
    paths:
      - packages/vehicle-location-diff/src
  PbConverter:
    paths:
      - packages/pb-converter/src

ci(mergify): label PRs as CI if in workflow folder (#625)
  .mergify.yml
Due: none

chore(dev-deps): add rollup
  package-lock.json
  package.json
  packages/api-proxy-router/package.json
  packages/api-proxy-router/rollup.config.js
  packages/api-proxy-router/tsconfig.json
  rollup.default.js
Due: none

chore(dev-deps): add rollup (#628)
  package-lock.json
  package.json
  packages/api-proxy-router/package.json
  packages/api-proxy-router/rollup.config.js
  packages/api-proxy-router/tsconfig.json
  rollup.default.js
Due: none

build: clean up package-lock files
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/client-ng/package-lock.json
  packages/pb-converter/package-lock.json
  packages/vehicle-location-diff/package-lock.json
Due: none

ci(mergify): merge PRs labeled ready-to-merge
  .mergify.yml
Due: none

build: clean up package-lock files (#630)
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/client-ng/package-lock.json
  packages/pb-converter/package-lock.json
  packages/vehicle-location-diff/package-lock.json
Due: none

ci(mergify): merge PRs labeled ready-to-merge (#631)
  .mergify.yml
Due: none

ci(mergify): use dependabot merge instead of strict mode
  .mergify.yml
Due: none

ci(mergify): use squash and merge for dependabot
  .mergify.yml
Due: none

chore(deps-dev): update root typescript install
  package-lock.json
  package.json
Due: none

chore(dev-deps): remove typescript from packages
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/api-types/package-lock.json
  packages/api-types/package.json
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/express-utils/package-lock.json
  packages/express-utils/package.json
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
  packages/vehicle-location-diff/package-lock.json
  packages/vehicle-location-diff/package.json
Due: none

chore(dev-deps): add typescript dependency to client-ng
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

test(api-proxy-router): fix typo in description of test
  packages/api-proxy-router/src/endpoints/stop.spec.ts
Due: ApiProxyRouter

test(api-proxy-router): fix test for trip endpoint
  packages/api-proxy-router/src/endpoints/trip.spec.ts
Due: ApiProxyRouter

test(api-proxy-router): fix test for stop endpoint
  packages/api-proxy-router/src/endpoints/stop.spec.ts
Due: ApiProxyRouter

test(api-proxy-router): fix test for vehicle endpoint
  packages/api-proxy-router/src/endpoints/vehicle.spec.ts
Due: ApiProxyRouter

test(api-proxy-router): fix test for settings endpoint
  packages/api-proxy-router/src/endpoints/settings.spec.ts
Due: ApiProxyRouter

test(api-proxy-router): fix tests for stop-point endpoint
  packages/api-proxy-router/src/endpoints/stop-point.spec.ts
Due: ApiProxyRouter

test(api-proxy-router): fix tests for geo routes
  packages/api-proxy-router/src/endpoints/geo.spec.ts
  packages/api-proxy-router/src/endpoints/geo.ts
Due: ApiProxyRouter

chore(dev-deps): bump typescript to 3.9.2 for all packages (#645)
  package-lock.json
  package.json
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-router/src/endpoints/geo.spec.ts
  packages/api-proxy-router/src/endpoints/geo.ts
  packages/api-proxy-router/src/endpoints/settings.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.spec.ts
  packages/api-proxy-router/src/endpoints/stop.spec.ts
  packages/api-proxy-router/src/endpoints/trip.spec.ts
  packages/api-proxy-router/src/endpoints/vehicle.spec.ts
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/api-types/package-lock.json
  packages/api-types/package.json
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/express-utils/package-lock.json
  packages/express-utils/package.json
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
  packages/vehicle-location-diff/package-lock.json
  packages/vehicle-location-diff/package.json
Due: ApiProxyRouter

ci(mergify): auto merge passing dependabot PRs
  .mergify.yml
Due: none

ci(mergfiy): move ready-to-merge removal rule
  .mergify.yml
Due: none

ci(mergify): auto merge passing dependabot PRs (#651)
  .mergify.yml
Due: none

ci(mergfiy): move ready-to-merge removal rule (#654)
  .mergify.yml
Due: none

chore(release): publish v0.13.2
  CHANGELOG.md
  lerna.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/CHANGELOG.md
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/api-types/CHANGELOG.md
  packages/api-types/package-lock.json
  packages/api-types/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/express-utils/CHANGELOG.md
  packages/express-utils/package-lock.json
  packages/express-utils/package.json
  packages/pb-converter/CHANGELOG.md
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
  packages/vehicle-cache/CHANGELOG.md
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
  packages/vehicle-location-diff/CHANGELOG.md
  packages/vehicle-location-diff/package-lock.json
  packages/vehicle-location-diff/package.json
Due: none

ci(github): comment squash on dependabot PRs
  .github/workflows/comment_dependabot_pr.yml
Due: none

fix: escape character
  .github/workflows/comment_dependabot_pr.yml
Due: none

chore: temporarly remove actor test
  .github/workflows/comment_dependabot_pr.yml
Due: none

fix: more descriptive title
  .github/workflows/comment_dependabot_pr.yml
Due: none

ci(github): fix release notes generation
  .github/workflows/create_release.yml
Due: none

ci(github): fix release notes generation (#663)
  .github/workflows/create_release.yml
Due: none

chore(release): publish v0.13.3
  CHANGELOG.md
  lerna.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/pb-converter/CHANGELOG.md
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
  packages/pb-types/CHANGELOG.md
  packages/pb-types/package-lock.json
  packages/pb-types/package.json
Due: none

ci(github): echo release notes
  .github/workflows/create_release.yml
Due: none

ci(github): use fixed create-release version
  .github/workflows/create_release.yml
Due: none

chore(api-client): add rollup config
  packages/api-client/rollup.config.js
Due: none

chore(api-client): update tsconfig files
  packages/api-client/tsconfig.json
  packages/api-client/tsconfig.spec.json
Due: none

build(api-client): update package scripts for rollup
  packages/api-client/package.json
Due: none

fix(api-client): update BUILD_VERSION placeholder
  packages/api-client/src/manni-watch-api-client.spec.ts
  packages/api-client/src/manni-watch-api-client.ts
Due: ApiClient

build(api-client): use rollup to build package (#665)
  packages/api-client/package.json
  packages/api-client/rollup.config.js
  packages/api-client/src/manni-watch-api-client.spec.ts
  packages/api-client/src/manni-watch-api-client.ts
  packages/api-client/tsconfig.json
  packages/api-client/tsconfig.spec.json
Due: ApiClient

J
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/client-ng/src/app/app.module.ts
  packages/client-ng/src/app/modules/main-map/ol-main-map.directive.ts
  packages/client-ng/src/app/modules/main-map/ol-vehicle-handler.ts
  packages/client-ng/src/app/modules/openlayers/abstract-ol-map.directive.ts
  packages/client-ng/src/app/modules/openlayers/bright.ts
  packages/client-ng/src/app/modules/openlayers/dark.ts
  packages/client-ng/src/app/modules/openlayers/global-map.service.spec.ts
  packages/client-ng/src/app/modules/openlayers/global-map.service.ts
  packages/client-ng/src/app/modules/openlayers/index.ts
  packages/client-ng/src/app/modules/openlayers/ol-static-map.directive.ts
  packages/client-ng/src/app/services/index.ts
  packages/client-ng/src/app/services/settings.service.ts
  packages/client-ng/src/environments/environment.base.ts
  packages/client-ng/src/environments/index.ts
Due: ClientNg
