Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 5%
        base: auto
      api-types:
        paths: "packages/api-types/src/*"
        threshold: 5%
      client-ng:
        paths: "packages/client-ng/src/*"
        threshold: 5%
      client-desktop:
        paths: "packages/client-desktop/src/*"
        threshold: 5%
      api-client:
        paths: "packages/api-client/src/*"
        threshold: 5%
      api-proxy-router:
        paths: "packages/api-proxy-router/src/*"
        threshold: 5%
      api-proxy-server:
        paths: "packages/api-proxy-server/src/*"
        threshold: 5%
      vehicle-cache:
        paths: "packages/vehicle-cache/src/*"
        threshold: 5%
      vehicle-location-diff:
        paths: "packages/vehicle-location-diff/src/*"
        threshold: 5%
      express-utils:
        paths: "packages/express-utils/src/*"
        threshold: 5%
      pb-converter:
        paths: "packages/pb-converter/src/*"
        threshold: 5%
parsers:
  javascript:
    enable_partials: yes
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no
  after_n_builds: 10

flags:
  ApiClient:
    paths:
      - packages/api-client/src
  ClientNg:
    paths:
      - packages/client-ng/src
  ClientDesktop:
    paths:
      - packages/client-desktop/src
  ApiProxyRouter:
    paths:
      - packages/api-proxy-router/src
  ApiProxyServer:
    paths:
      - packages/api-proxy-server/src
  ApiTypes:
    paths:
      - packages/api-types/src
  ExpressUtils:
    paths:
      - packages/express-utils/src
  VehicleCache:
    paths:
      - packages/vehicle-cache/src
  VehicleLocationDiff:
    paths:
      - packages/vehicle-location-diff/src
  PbConverter:
    paths:
      - packages/pb-converter/src

chore(deps): update dependency typedoc to v0.20.21
  package-lock.json
  package.json
Due: none

chore(deps): update angularcli monorepo
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

fix(vehicle-cache): fix typo in VehiclePollStatus enum
  packages/vehicle-cache/src/operators/convert-poll-result.ts
  packages/vehicle-cache/src/operators/index.ts
Due: VehicleCache

fix(vehicle-cache): add convertToCacheEntries to exports
  packages/vehicle-cache/src/operators/index.ts
Due: VehicleCache

feat(vehicle-cache): add convertToCacheEntries operator
  packages/vehicle-cache/src/operators/convert-to-cache-entries.spec.ts
  packages/vehicle-cache/src/operators/convert-to-cache-entries.ts
Due: VehicleCache

style(vehicle-cache): add missing semicolon
  packages/vehicle-cache/src/operators/convert-to-cache-entries.ts
Due: VehicleCache

chore(deps): update dependency typedoc to v0.20.22
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typedoc to v0.20.23
  package-lock.json
  package.json
Due: none

build: set root esModuleInterop to true
  tsconfig.json
Due: none

fix(vehicle-cache): fix import style
  packages/vehicle-cache/src/vehicle-cache.ts
Due: VehicleCache

fix(api-proxy-server): fix import style
  packages/api-proxy-server/src/config.ts
  packages/api-proxy-server/src/index.ts
  packages/api-proxy-server/src/proxy-server.ts
Due: ApiProxyServer

style: fix several import style issues
  packages/api-client/src/manni-watch-api-client.spec.ts
  packages/api-proxy-router/src/api-routes.spec.ts
  packages/api-proxy-router/src/api-routes.ts
  packages/api-proxy-router/src/endpoints/geo.spec.ts
  packages/api-proxy-router/src/endpoints/geo.ts
  packages/api-proxy-router/src/endpoints/settings.spec.ts
  packages/api-proxy-router/src/endpoints/settings.ts
  packages/api-proxy-router/src/endpoints/stop-point.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.spec.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.spec.ts
  packages/api-proxy-router/src/endpoints/trip.ts
  packages/api-proxy-router/src/endpoints/vehicle.spec.ts
  packages/api-proxy-router/src/endpoints/vehicle.ts
  packages/client-desktop/src/api-server.ts
  packages/client-ng/src/app/modules/sidebar/sidebar.service.spec.ts
  packages/client-ng/src/app/routes/stop/stop-info.resolver.spec.ts
  packages/client-ng/src/app/services/settings.service.spec.ts
  packages/express-utils/src/promise-to-response.spec.ts
  packages/pb-converter/src/convert-vehicle-location.spec.ts
  packages/pb-converter/src/convert-vehicle-locations.spec.ts
  packages/vehicle-cache/src/interval-vehicle-location-poll.spec.ts
  packages/vehicle-cache/src/observable/intervall-poll-vehicles.spec.ts
  packages/vehicle-cache/src/observable/query-vehicles.spec.ts
  packages/vehicle-cache/src/operators/convert-poll-result.spec.ts
  packages/vehicle-cache/src/operators/convert-to-cache-entry.spec.ts
  packages/vehicle-cache/src/operators/query-vehicles.spec.ts
  packages/vehicle-cache/src/operators/vehicle-cache-operator.spec.ts
  packages/vehicle-cache/src/vehicle-cache.spec.ts
  packages/vehicle-location-diff/src/vehicle-diff-handler.spec.ts
Due: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter

chore(deps): update dependency @donmahallem/gulp-sharp to v0.5.10
  packages/assets/package-lock.json
  packages/assets/package.json
Due: none

fix(tsconfig): set esModuleInterop to true in global config (#1486)
  packages/api-client/src/manni-watch-api-client.spec.ts
  packages/api-proxy-router/src/api-routes.spec.ts
  packages/api-proxy-router/src/api-routes.ts
  packages/api-proxy-router/src/endpoints/geo.spec.ts
  packages/api-proxy-router/src/endpoints/geo.ts
  packages/api-proxy-router/src/endpoints/settings.spec.ts
  packages/api-proxy-router/src/endpoints/settings.ts
  packages/api-proxy-router/src/endpoints/stop-point.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.spec.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.spec.ts
  packages/api-proxy-router/src/endpoints/trip.ts
  packages/api-proxy-router/src/endpoints/vehicle.spec.ts
  packages/api-proxy-router/src/endpoints/vehicle.ts
  packages/api-proxy-server/src/config.ts
  packages/api-proxy-server/src/index.ts
  packages/api-proxy-server/src/proxy-server.ts
  packages/client-desktop/src/api-server.ts
  packages/client-ng/src/app/modules/sidebar/sidebar.service.spec.ts
  packages/client-ng/src/app/routes/stop/stop-info.resolver.spec.ts
  packages/client-ng/src/app/services/settings.service.spec.ts
  packages/express-utils/src/promise-to-response.spec.ts
  packages/pb-converter/src/convert-vehicle-location.spec.ts
  packages/pb-converter/src/convert-vehicle-locations.spec.ts
  packages/vehicle-cache/src/interval-vehicle-location-poll.spec.ts
  packages/vehicle-cache/src/observable/intervall-poll-vehicles.spec.ts
  packages/vehicle-cache/src/observable/query-vehicles.spec.ts
  packages/vehicle-cache/src/operators/convert-poll-result.spec.ts
  packages/vehicle-cache/src/operators/convert-to-cache-entry.spec.ts
  packages/vehicle-cache/src/operators/query-vehicles.spec.ts
  packages/vehicle-cache/src/operators/vehicle-cache-operator.spec.ts
  packages/vehicle-cache/src/vehicle-cache.spec.ts
  packages/vehicle-cache/src/vehicle-cache.ts
  packages/vehicle-location-diff/src/vehicle-diff-handler.spec.ts
  tsconfig.json
Due: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter

feat(vehicle-cache): add stream integration and event exposure (#1467)
  packages/vehicle-cache/src/operators/convert-poll-result.ts
  packages/vehicle-cache/src/operators/convert-to-cache-entries.spec.ts
  packages/vehicle-cache/src/operators/convert-to-cache-entries.ts
  packages/vehicle-cache/src/operators/index.ts
Due: VehicleCache

chore(release): publish v0.20.0
  CHANGELOG.md
  lerna.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/CHANGELOG.md
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/api-types/CHANGELOG.md
  packages/api-types/package-lock.json
  packages/api-types/package.json
  packages/assets/CHANGELOG.md
  packages/assets/package-lock.json
  packages/assets/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/express-utils/CHANGELOG.md
  packages/express-utils/package-lock.json
  packages/express-utils/package.json
  packages/pb-converter/CHANGELOG.md
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
  packages/pb-types/CHANGELOG.md
  packages/pb-types/package-lock.json
  packages/pb-types/package.json
  packages/vehicle-cache/CHANGELOG.md
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
  packages/vehicle-location-diff/CHANGELOG.md
  packages/vehicle-location-diff/package-lock.json
  packages/vehicle-location-diff/package.json
Due: none

chore(api-proxy-router): add readme_config.js
  packages/api-proxy-router/readme_config.json
Due: none

build(api-proxy-router): add readme build script
  packages/api-proxy-router/package.json
Due: none

fix(api-proxy-router): update readme to new config
  packages/api-proxy-router/README.md
Due: none

fix: add version lifecycle scripts for readme generation
  packages/api-proxy-server/package.json
  packages/client-desktop/package.json
Due: none

build(api-proxy-router): setup automatic readme generation (#1487)
  packages/api-proxy-router/README.md
  packages/api-proxy-router/package.json
  packages/api-proxy-router/readme_config.json
Due: none

chore: update readme
  packages/api-proxy-server/README.md
Due: none

chore(pb-converter): add readme_config.json
  packages/pb-converter/readme_config.json
Due: none

chore(pb-converter): add readme generation scripts to package
  packages/pb-converter/package.json
Due: none

chore(pb-converter): update readme
  packages/pb-converter/README.md
Due: none

build(pb-converter): add automatic readme generation (#1489)
  packages/pb-converter/README.md
  packages/pb-converter/package.json
  packages/pb-converter/readme_config.json
Due: none

chore(vehicle-location-diff): add readme_config.js
  packages/vehicle-location-diff/readme_config.json
Due: none

build(vehicle-location-diff): add build:readme script
  packages/vehicle-location-diff/package.json
Due: none

chore(vehicle-location-diff): update readme
  packages/vehicle-location-diff/README.md
Due: none

fix: fix readme generation (#1488)
  packages/api-proxy-server/README.md
  packages/api-proxy-server/package.json
  packages/client-desktop/package.json
Due: none

build(client-desktop): add version lifecycle hook
  packages/client-desktop/package.json
Due: none

chore(pb-types): add readme_config.js
  packages/pb-types/readme_config.json
Due: none

build(pb-types): add readme generation scripts
  packages/pb-types/package.json
Due: none

chore(pb-types): update readme file
  packages/pb-types/README.md
Due: none

build(vehicle-location-diff): add automatic readme generation (#1490)
  packages/vehicle-location-diff/README.md
  packages/vehicle-location-diff/package.json
  packages/vehicle-location-diff/readme_config.json
Due: none

build(pb-types): add automatic readme generation (#1492)
  packages/pb-types/README.md
  packages/pb-types/package.json
  packages/pb-types/readme_config.json
Due: none
