Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 5%
        base: auto
      api-types:
        paths: "packages/api-types/src/*"
        threshold: 5%
      client-ng:
        paths: "packages/client-ng/src/*"
        threshold: 5%
      client-desktop:
        paths: "packages/client-desktop/src/*"
        threshold: 5%
      api-client:
        paths: "packages/api-client/src/*"
        threshold: 5%
      api-proxy-router:
        paths: "packages/api-proxy-router/src/*"
        threshold: 5%
      api-proxy-server:
        paths: "packages/api-proxy-server/src/*"
        threshold: 5%
      vehicle-cache:
        paths: "packages/vehicle-cache/src/*"
        threshold: 5%
      vehicle-location-diff:
        paths: "packages/vehicle-location-diff/src/*"
        threshold: 5%
      express-utils:
        paths: "packages/express-utils/src/*"
        threshold: 5%
      pb-converter:
        paths: "packages/pb-converter/src/*"
        threshold: 5%
parsers:
  javascript:
    enable_partials: yes
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no
  after_n_builds: 10

flags:
  ApiClient:
    paths:
      - packages/api-client/src
  ClientNg:
    paths:
      - packages/client-ng/src
  ClientDesktop:
    paths:
      - packages/client-desktop/src
  ApiProxyRouter:
    paths:
      - packages/api-proxy-router/src
  ApiProxyServer:
    paths:
      - packages/api-proxy-server/src
  ApiTypes:
    paths:
      - packages/api-types/src
  ExpressUtils:
    paths:
      - packages/express-utils/src
  VehicleCache:
    paths:
      - packages/vehicle-cache/src
  VehicleLocationDiff:
    paths:
      - packages/vehicle-location-diff/src
  PbConverter:
    paths:
      - packages/pb-converter/src

chore(pb-converter): fix linting
  packages/pb-converter/.eslintrc.js
  packages/pb-converter/package.json
  packages/pb-converter/tslint.json
Due: none

chore(express-utils): fix eslint config
  packages/express-utils/.eslintrc.js
  packages/express-utils/package.json
  packages/express-utils/tslint.json
Due: none

chore(client-desktop): fix eslint config
  packages/client-desktop/.eslintrc.js
  packages/client-desktop/package.json
  packages/client-desktop/tslint.json
Due: none

chore(api-types): fix eslint config
  packages/api-types/.eslintrc.js
  packages/api-types/package.json
  packages/api-types/tslint.json
Due: none

chore(api-proxy-server): fix eslint config
  packages/api-proxy-server/.eslintrc.js
  packages/api-proxy-server/package.json
  packages/api-proxy-server/tslint.json
Due: none

chore(api-proxy-router): fix eslint config
  packages/api-proxy-router/.eslintrc.js
  packages/api-proxy-router/package.json
  packages/api-proxy-router/tsconfig.spec.json
  packages/api-proxy-router/tslint.json
Due: none

chore(api-client): fix eslint config
  packages/api-client/.eslintrc.js
  packages/api-client/package.json
  packages/api-client/tsconfig.spec.json
  packages/api-client/tslint.json
Due: none

chore: run eslint --fix
  packages/api-types/src/index.ts
  packages/api-types/src/settings.ts
  packages/api-types/src/stop-info.ts
  packages/api-types/src/stop-locations.ts
  packages/api-types/src/stop-passage.ts
  packages/api-types/src/stop-point-info.ts
  packages/api-types/src/stop-point-locations.ts
  packages/api-types/src/trip-passages.ts
  packages/api-types/src/trip-route.ts
  packages/api-types/src/type-util.ts
  packages/api-types/src/vehicle-locations.ts
  packages/api-types/src/vehicle-path-info.ts
  packages/api-types/src/vehicle-status.ts
  packages/express-utils/src/index.ts
  packages/express-utils/src/promise-to-response.spec.ts
  packages/express-utils/src/promise-to-response.ts
  packages/express-utils/src/server-error.spec.ts
  packages/express-utils/src/server-error.ts
  packages/express-utils/src/validate-request/convert-validation-error.spec.ts
  packages/express-utils/src/validate-request/convert-validation-error.ts
  packages/express-utils/src/validate-request/index.ts
  packages/express-utils/src/validate-request/validate-query-parameter.ts
  packages/express-utils/src/validate-request/validate-request.spec.ts
  packages/express-utils/src/validate-request/validate-request.ts
Due: ApiTypes, ExpressUtils

chore: eslint fixes
  packages/api-types/src/settings.ts
  packages/api-types/src/trip-passages.ts
Due: ApiTypes

chore: update @typescript-eslint/naming-convention rule
  .eslintrc.js
Due: none

chore: fix lint
  packages/api-types/src/index.spec.ts
  packages/api-types/tsconfig.json
Due: ApiTypes

chore: run lint:fix
  packages/api-client/src/index.ts
  packages/api-client/src/manni-watch-api-client.ts
  packages/api-client/src/util.ts
  packages/api-types/src/vehicle-status.ts
  packages/pb-converter/src/convert-location.ts
  packages/pb-converter/src/convert-vehicle-category.ts
  packages/pb-converter/src/convert-vehicle-location.ts
  packages/pb-converter/src/convert-vehicle-locations.ts
  packages/pb-converter/src/index.ts
Due: ApiClient, ApiTypes, PbConverter

chore: save lint fixes
  .eslintrc.js
  packages/api-client/src/index.spec.ts
  packages/api-client/src/manni-watch-api-client.spec.ts
  packages/api-client/src/manni-watch-api-client.ts
  packages/api-client/src/util.spec.ts
  packages/api-client/tsconfig.json
  packages/api-proxy-router/src/api-routes.ts
  packages/api-proxy-router/src/endpoints/geo.ts
  packages/api-proxy-router/src/endpoints/index.ts
  packages/api-proxy-router/src/endpoints/settings.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.ts
  packages/api-proxy-router/src/endpoints/vehicle.ts
  packages/api-proxy-router/src/index.ts
  packages/client-desktop/src/app.ts
  packages/client-ng/src/app/modules/openlayers/ol-static-map.directive.ts
  packages/client-ng/src/app/routes/stop-point/stop-point-info.service.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list-item.component.spec.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list.component.spec.ts
  packages/client-ng/src/app/services/vehicle.service.spec.ts
  packages/client-ng/src/app/services/vehicle.service.ts
  packages/client-ng/src/app/util/ol/ol-util.ts
  packages/express-utils/src/promise-to-response.spec.ts
  packages/express-utils/src/promise-to-response.ts
  packages/express-utils/src/validate-request/convert-validation-error.ts
  packages/express-utils/src/validate-request/validate-query-parameter.ts
  packages/pb-converter/src/convert-location.spec.ts
  packages/pb-converter/src/convert-location.ts
  packages/pb-converter/src/convert-vehicle-category.spec.ts
  packages/pb-converter/src/convert-vehicle-location.spec.ts
  packages/pb-converter/src/convert-vehicle-locations.spec.ts
  packages/pb-converter/src/convert-vehicle-locations.ts
  packages/pb-converter/src/index.spec.ts
  packages/pb-converter/tsconfig.json
  packages/vehicle-cache/src/cache-message.ts
  packages/vehicle-cache/src/index.spec.ts
  packages/vehicle-cache/src/index.ts
  packages/vehicle-cache/src/interval-vehicle-location-poll.spec.ts
  packages/vehicle-cache/src/interval-vehicle-location-poll.ts
Due: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ExpressUtils, VehicleCache, PbConverter

chore: es lint fixes
  .eslintrc.js
  packages/api-proxy-router/src/api-routes.spec.ts
  packages/api-proxy-router/src/endpoints/common-test.spec.ts
  packages/api-proxy-router/src/endpoints/geo.spec.ts
  packages/api-proxy-router/src/endpoints/geo.ts
  packages/api-proxy-router/src/endpoints/settings.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.spec.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.spec.ts
  packages/api-proxy-router/src/endpoints/trip.ts
  packages/api-proxy-router/src/endpoints/vehicle.spec.ts
  packages/api-proxy-router/src/endpoints/vehicle.ts
  packages/api-proxy-router/src/index.spec.ts
  packages/api-proxy-router/tsconfig.json
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/api-proxy-server/src/config.spec.ts
  packages/api-proxy-server/src/config.ts
  packages/api-proxy-server/src/index.ts
  packages/api-proxy-server/src/proxy-server.ts
  packages/client-ng/package-lock.json
Due: ApiProxyRouter, ApiProxyServer

chore: eslint works except client-ng
  .eslintrc.js
  packages/api-proxy-router/src/endpoints/geo.spec.ts
  packages/api-proxy-server/src/config.ts
  packages/api-proxy-server/src/index.ts
  packages/api-proxy-server/src/proxy-server.ts
  packages/pb-converter/src/convert-vehicle-location.spec.ts
Due: ApiProxyRouter, ApiProxyServer, PbConverter

chore(client-ng): add angular eslint dependencies
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(client-ng): changes
  .eslintrc.js
  packages/client-ng/.eslintrc.js
  packages/client-ng/angular.json
  packages/client-ng/src/app/app-error-handler.ts
  packages/client-ng/src/app/app-routing.module.ts
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.spec.ts
  packages/client-ng/src/app/modules/departure-list/departure-list.component.spec.ts
  packages/client-ng/src/app/modules/main-toolbar/main-toolbar.component.ts
  packages/client-ng/src/app/modules/main-toolbar/route-loading-indicator.component.ts
  packages/client-ng/src/app/modules/main-toolbar/search-box.component.spec.ts
  packages/client-ng/src/app/modules/openlayers/theme/dark.ts
  packages/client-ng/src/app/modules/openlayers/theme/light.ts
  packages/client-ng/src/app/modules/request-update-dialog/request-update-dialog.component.spec.ts
  packages/client-ng/src/app/modules/route-list/route-list.component.spec.ts
  packages/client-ng/src/app/routes/error/common-error.component.spec.ts
  packages/client-ng/src/app/routes/error/not-found-msg-switch.component.spec.ts
  packages/client-ng/src/app/routes/error/not-found.component.spec.ts
  packages/client-ng/src/app/routes/search/search-result.component.spec.ts
  packages/client-ng/src/app/routes/search/search.component.spec.ts
  packages/client-ng/src/app/routes/settings/settings.component.spec.ts
  packages/client-ng/src/app/routes/settings/theme-selector/theme-selector.component.spec.ts
  packages/client-ng/src/app/routes/stops/stops-info.component.spec.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list-item.component.spec.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages-list.component.spec.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages.component.spec.ts
  packages/client-ng/src/app/services/settings.service.ts
  packages/client-ng/src/app/services/stop-point.service.ts
  packages/client-ng/src/main.ts
  packages/client-ng/src/test.ts
Due: ClientNg

feat(api-client): add axios as dependency
  packages/api-client/package-lock.json
  packages/api-client/package.json
Due: none

test(api-client): adapt tests to axios
  packages/api-client/src/manni-watch-api-client.spec.ts
  packages/api-client/src/manni-watch-api-client.ts
Due: ApiClient

chore(api-client): add form-data dependency
  packages/api-client/package-lock.json
  packages/api-client/package.json
Due: none

fix(api-client): fix previous added debugging interceptor
  packages/api-client/src/manni-watch-api-client.spec.ts
  packages/api-client/src/manni-watch-api-client.ts
Due: ApiClient

chore(api-client): replace form-data with qs
  packages/api-client/package-lock.json
  packages/api-client/package.json
Due: none

chore(api-client): fix smaller lint/test issues
  packages/api-client/src/manni-watch-api-client.spec.ts
  packages/api-client/src/manni-watch-api-client.ts
Due: ApiClient

chore(api-proxy-router): replace request with axios
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
Due: none

chore(express-utils): replace request with axios
  packages/express-utils/package-lock.json
  packages/express-utils/package.json
Due: none

chore(api-proxy-router): remove request-promise-native peer dependency
  packages/api-proxy-router/package.json
Due: none

feat(express-utils): add axios specific AxiosError handling
  packages/express-utils/src/promise-to-response.ts
Due: ExpressUtils

fix(express-utils): handle AxiosError case
  packages/express-utils/src/promise-to-response.ts
Due: ExpressUtils

test(express-utils): fix tests for changed AxiosError
  packages/express-utils/src/promise-to-response.spec.ts
Due: ExpressUtils

test(express-utils): additional test case for no status code on response
  packages/express-utils/src/promise-to-response.spec.ts
Due: ExpressUtils

fix(express-utils): remove unnecessary ?
  packages/express-utils/src/promise-to-response.ts
Due: ExpressUtils

feat(api-client): replace request with axios (#1379)
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-client/src/manni-watch-api-client.spec.ts
  packages/api-client/src/manni-watch-api-client.ts
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/express-utils/package-lock.json
  packages/express-utils/package.json
  packages/express-utils/src/promise-to-response.spec.ts
  packages/express-utils/src/promise-to-response.ts
Due: ApiClient, ExpressUtils

refactor(express-utils): use template variables
  packages/express-utils/src/validate-request/validate-query-parameter.ts
Due: ExpressUtils

test(express-util): add test cases for validate request
  packages/express-utils/src/validate-request/index.ts
  packages/express-utils/src/validate-request/validate-request.spec.ts
  packages/express-utils/src/validate-request/validate-request.ts
Due: ExpressUtils

fix(api-proxy-router): adapt to express-util changes
  packages/api-proxy-router/src/endpoints/geo.spec.ts
  packages/api-proxy-router/src/endpoints/geo.ts
  packages/api-proxy-router/src/endpoints/stop-point.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.spec.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.ts
Due: ApiProxyRouter

style(express-utils): fix spacing issues
  packages/express-utils/src/validate-request/validate-request.spec.ts
  packages/express-utils/src/validate-request/validate-request.ts
Due: ExpressUtils

feat(express-utils): change validateQueryParameters Schema validation (#1381)
  packages/api-proxy-router/src/endpoints/geo.spec.ts
  packages/api-proxy-router/src/endpoints/geo.ts
  packages/api-proxy-router/src/endpoints/stop-point.spec.ts
  packages/api-proxy-router/src/endpoints/stop-point.ts
  packages/api-proxy-router/src/endpoints/stop.spec.ts
  packages/api-proxy-router/src/endpoints/stop.ts
  packages/api-proxy-router/src/endpoints/trip.ts
  packages/express-utils/src/validate-request/index.ts
  packages/express-utils/src/validate-request/validate-query-parameter.ts
  packages/express-utils/src/validate-request/validate-request.spec.ts
  packages/express-utils/src/validate-request/validate-request.ts
Due: ApiProxyRouter, ExpressUtils

chore(release): publish v0.19.0
  CHANGELOG.md
  lerna.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/CHANGELOG.md
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/api-types/CHANGELOG.md
  packages/api-types/package-lock.json
  packages/api-types/package.json
  packages/assets/CHANGELOG.md
  packages/assets/package-lock.json
  packages/assets/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/express-utils/CHANGELOG.md
  packages/express-utils/package-lock.json
  packages/express-utils/package.json
  packages/pb-converter/CHANGELOG.md
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
  packages/pb-types/CHANGELOG.md
  packages/pb-types/package-lock.json
  packages/pb-types/package.json
  packages/vehicle-cache/CHANGELOG.md
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
  packages/vehicle-location-diff/CHANGELOG.md
  packages/vehicle-location-diff/package-lock.json
  packages/vehicle-location-diff/package.json
Due: none

Revert "chore: merge dev into master (#1383)"
  package-lock.json
  package.json
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
Due: none

Revert "chore: merge dev into master (#1383)" (#1391)
  package-lock.json
  package.json
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/pb-converter/package-lock.json
  packages/pb-converter/package.json
Due: none
