Repository manniwatch/manniwatch: changes, and which Codecov flags are due for each by the changed paths.
All: ApiClient, ClientNg, ClientDesktop, ApiProxyRouter, ApiProxyServer, ApiTypes, ExpressUtils, VehicleCache, VehicleLocationDiff, PbConverter, api-types

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 5%
        base: auto
      api-types:
        paths: "packages/api-types/src/*"
        threshold: 5%
      client-ng:
        paths: "packages/client-ng/src/*"
        threshold: 5%
      client-desktop:
        paths: "packages/client-desktop/src/*"
        threshold: 5%
      api-client:
        paths: "packages/api-client/src/*"
        threshold: 5%
      api-proxy-router:
        paths: "packages/api-proxy-router/src/*"
        threshold: 5%
      api-proxy-server:
        paths: "packages/api-proxy-server/src/*"
        threshold: 5%
      vehicle-cache:
        paths: "packages/vehicle-cache/src/*"
        threshold: 5%
      vehicle-location-diff:
        paths: "packages/vehicle-location-diff/src/*"
        threshold: 5%
      express-utils:
        paths: "packages/express-utils/src/*"
        threshold: 5%
      pb-converter:
        paths: "packages/pb-converter/src/*"
        threshold: 5%
parsers:
  javascript:
    enable_partials: yes
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no
  after_n_builds: 10

flags:
  ApiClient:
    paths:
      - packages/api-client/src
  ClientNg:
    paths:
      - packages/client-ng/src
  ClientDesktop:
    paths:
      - packages/client-desktop/src
  ApiProxyRouter:
    paths:
      - packages/api-proxy-router/src
  ApiProxyServer:
    paths:
      - packages/api-proxy-server/src
  ApiTypes:
    paths:
      - packages/api-types/src
  ExpressUtils:
    paths:
      - packages/express-utils/src
  VehicleCache:
    paths:
      - packages/vehicle-cache/src
  VehicleLocationDiff:
    paths:
      - packages/vehicle-location-diff/src
  PbConverter:
    paths:
      - packages/pb-converter/src

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      api-types:
        paths:
          - packages/api-types/*
flags:
  api-types:
    paths:
      - packages/api-types/

feat(client-ng): add retry logic to failed requests (#2647)
  packages/client-ng/angular.json
  packages/client-ng/src/app/routes/stop-point/stop-point-info.resolver.spec.ts
  packages/client-ng/src/app/routes/stop-point/stop-point-info.resolver.ts
  packages/client-ng/src/app/routes/stop/stop-info.resolver.ts
  packages/client-ng/src/app/routes/stops/stops.resolver.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages.resolver.spec.ts
  packages/client-ng/src/app/routes/trip-passages/trip-passages.resolver.ts
  packages/client-ng/src/app/services/dialog.service.ts
  packages/client-ng/src/app/services/index.ts
  packages/client-ng/src/app/util/retry-resolver.spec.ts
  packages/client-ng/src/app/util/retry-resolver.ts
Due: ClientNg

test(client-ng): add test cases for DepartureListItemComponent
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.spec.ts
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.ts
Due: ClientNg

test(client-ng): add test cases for DepartureListItemComponent (#2649)
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.spec.ts
  packages/client-ng/src/app/modules/departure-list/departure-list-item.component.ts
Due: ClientNg

ci(github): set fixed codecov flag for unit tests
  .github/workflows/test.yml
Due: none

ci(github): set fixed codecov flag for unit tests (#2650)
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @rollup/plugin-node-resolve to v13.1.2
  package-lock.json
  package.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/client-types/package-lock.json
Due: none

test(client-ng): add tests to LOCAL_STORAGE_FACTORY
  packages/client-ng/src/app/util/storage/local-storage-factory.spec.ts
  packages/client-ng/src/app/util/storage/storage.ts
Due: ClientNg

ci(codecov): add path fixing option
  codecov.yml
Due: none

ci(codecov): add path fixing option (#2653)
  codecov.yml
Due: none

chore(client-ng): restore previous IStorage interface
  packages/client-ng/src/app/services/settings/settings.service.ts
  packages/client-ng/src/app/util/storage/index.ts
  packages/client-ng/src/app/util/storage/local-storage-factory.spec.ts
  packages/client-ng/src/app/util/storage/storage.ts
Due: ClientNg

test(client-ng): add createStyleByType test
  packages/client-ng/src/app/util/ol/ol-util.spec.ts
Due: ClientNg

test(client-ng): add tests to LOCAL_STORAGE_FACTORY (#2652)
  packages/client-ng/src/app/services/settings/settings.service.ts
  packages/client-ng/src/app/util/storage/index.ts
  packages/client-ng/src/app/util/storage/local-storage-factory.spec.ts
  packages/client-ng/src/app/util/storage/storage.ts
Due: ClientNg

test(client-ng): add more test cases for OlUtil.convertArcMSToCoordinate
  packages/client-ng/src/app/util/ol/ol-util.spec.ts
Due: ClientNg

chore(deps): update dependency eslint to v8.6.0
  package-lock.json
  package.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/client-types/package-lock.json
Due: none

test(client-ng): add OlUtil tests (#2654)
  packages/client-ng/src/app/util/ol/ol-util.spec.ts
Due: ClientNg

fix(deps): update ol from 6.9 to 6.10.0
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/client-types/package-lock.json
  packages/client-types/package.json
Due: none

chore(deps): update package lock
  package-lock.json
Due: none

chore(release): publish v0.29.0
  CHANGELOG.md
  lerna.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-proxy-router/CHANGELOG.md
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/CHANGELOG.md
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
  packages/api-types/CHANGELOG.md
  packages/api-types/package-lock.json
  packages/api-types/package.json
  packages/assets/CHANGELOG.md
  packages/assets/package-lock.json
  packages/assets/package.json
  packages/client-desktop/CHANGELOG.md
  packages/client-desktop/package-lock.json
  packages/client-desktop/package.json
  packages/client-ng/CHANGELOG.md
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/client-types/CHANGELOG.md
  packages/client-types/package-lock.json
  packages/client-types/package.json
  packages/pb-converter/CHANGELOG.md
  packages/pb-converter/package.json
  packages/pb-types/CHANGELOG.md
  packages/pb-types/package-lock.json
  packages/pb-types/package.json
  packages/schemas/CHANGELOG.md
  packages/schemas/package-lock.json
  packages/schemas/package.json
  packages/vehicle-cache/CHANGELOG.md
  packages/vehicle-cache/package-lock.json
  packages/vehicle-cache/package.json
  packages/vehicle-location-diff/CHANGELOG.md
  packages/vehicle-location-diff/package.json
Due: api-types

chore(deps): update dependency jasmine-core to v3.99.0
  package-lock.json
  packages/api-client/package-lock.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/assets/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/client-types/package-lock.json
  packages/pb-types/package-lock.json
  packages/schemas/package-lock.json
  packages/vehicle-cache/package-lock.json
Due: none

chore(deps): update dependency jasmine-core to v4
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

chore(deps): update dependency @types/jasmine to v3.10.3
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
Due: none

fix(deps): update dependency helmet to v5
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/assets/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/pb-types/package-lock.json
  packages/vehicle-cache/package-lock.json
Due: none

chore(deps): lock file maintenance
  packages/api-client/package-lock.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/client-types/package-lock.json
  packages/schemas/package-lock.json
  packages/vehicle-cache/package-lock.json
Due: none

chore(deps): update dependency @types/node to v16.11.18
  package-lock.json
  package.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/assets/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-ng/package-lock.json
  packages/client-ng/package.json
  packages/pb-types/package-lock.json
Due: none

chore(deps): update dependency @donmahallem/eslint-config to v0.5.3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @donmahallem/gulp-sharp to v2.2.3
  packages/assets/package-lock.json
  packages/assets/package.json
Due: none

fix(deps): update dependency helmet to ~5.0.1
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-server/package-lock.json
  packages/api-proxy-server/package.json
Due: none

fix(deps): update @donmahallem/turbo packages
  package-lock.json
  packages/api-proxy-router/package-lock.json
  packages/api-proxy-router/package.json
  packages/api-proxy-server/package-lock.json
  packages/client-desktop/package-lock.json
  packages/client-types/package-lock.json
Due: none
